.audience {
	@include for-tablet-landscape-up {
		h2 {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}

	&__photo {
		overflow: hidden;
		text-align: center;
		border-radius: 1rem;

		img {
			width: 120%;
			margin-left: -10%;
			max-width: none;
		}

		@include for-tablet-portrait-up {
			margin-left: 2rem;
			margin-right: 2rem;
		}

		@include for-tablet-landscape-up {
			margin-left: 5%;
			margin-right: 5%;
			margin-bottom: 1rem;

			img {
				border-radius: 1rem;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		@include for-desktop-up {
			margin-left: 8%;
			margin-right: 8%;
		}
	}

	&__body {
		@include for-tablet-portrait-up {
			margin-left: 3rem;
			margin-right: 3rem;
		}

		@include for-tablet-landscape-up {
			margin-left: 6rem;
			margin-right: 6rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1.5rem;
			margin-bottom: 2rem;
		}

		@include for-desktop-up {
			margin-left: 15%;
			margin-right: 15%;
		}
	}
}
