<h1>Partners</h1>

<% if @partners.blank? %>
  <p>No Partners found</p>
<% else %>
  <div class="card-grid">
    <% @partners.each do |partner| %>
      <%= render_component 'card',
            title: partner.name,
            subtitle: partner.slug,
            image: partner.image.url,
            description: partner.short_description,
            link: edit_admin_partner_path(partner),
            turf: partner&.address&.neighbourhood&.name,
            last_updated: partner.updated_at
      %>
    <% end %>
  </div>
<% end %>
