<% content_for :title do %>Dashboard<% end %>

<% ['Partner', 'Calendar', 'User'].each do |model_name| %>
  <%- if policy(model_name.constantize).create? %>
    <%= link_to "Add New #{model_name}",
                eval("new_admin_#{model_name.downcase}_path"),
                data: { turbo: false },
                class: "btn btn-primary mb-3 mr-2" %>
  <% end %>
<% end %>

<% if @sites.any? %>
  <h1 class="mb-3">Your sites</h1>

  <div class="card-grid">
    <% @sites.each do |site| %>
      <%= render_component 'dashboard_card',
        title: site.name,
        subtitle: "#{pluralize(site.events_this_week, 'event')} this week (#{sprintf('%+d', site.events_this_week - site.events_last_week)})",
        link: edit_admin_site_path(site),
        last_updated: site.updated_at %>
    <% end %>
  </div>
<% end %>

<h1 class="mt-5 mb-3">Recently updated partners</h1>

<% if @partners.any? %>
  <div class="card-grid">
    <% @partners.each do |partner| %>
      <%= render_component 'dashboard_card',
          title: partner.name,
          subtitle: "<span class='badge badge-secondary small'>#{partner&.address&.neighbourhood&.name}</span> #{pluralize(partner.events_this_week, 'event')} this week",
          image: partner.image.url,
          description: partner.summary,
          link: edit_admin_partner_path(partner),
          last_updated: partner.updated_at
      %>
    <% end %>
  </div>
<% end %>

<% if @errored_calendars.any? %>
  <h1 class="mt-5 mb-3">Failing calendars</h1>

  <div class="card-grid">
    <% @errored_calendars.each do |calendar| %>
      <%= render_component 'dashboard_card',
          title: calendar.name,
          subtitle: "<span class='badge badge-warning mr-1'>Error</span>" + calendar&.last_imported,
          description: "#{pluralize(calendar.events_this_week, 'event')} this week",
          link: edit_admin_calendar_path(calendar),
          last_updated: calendar.updated_at
      %>
    <% end %>
  </div>
<% end %>
