<div class="hero_section">
  <img class="hero_section__img" src="<%= @image_path %>" alt="">
  <div class="hero_section__text">
    <p><%= @image_credit %></p>
    <h1><%= @title %></h1>
  </div>
</div>
