<div class="hero_section">
  <img 
    class="hero_section__img"
    src="<%= @image_path %>" 
    <%if @alttext.presence %>
      alt="<%= @alttext %>" 
    <% else %> 
      aria-hidden="true" 
    <% end %> 
  >
  <div class="hero_section__text">
    <% if @image_credit.presence %>
      <p class="hero_section__credit">Image credit: <%= @image_credit %></p>
    <% end %>
    <h1 class="hero_section__title"><%= @title %></h1>
  </div>
</div>
