<h2>Select the page you would like to import events from</h2>

<ul>
  <%- @pages.each do |page| %>
    <li>
      <%- if !page['has_access'] %>
        <%= page['name'] %> <small class="red">* You do not have the correct permissions for add this page. Please ensure you are both a Page Admin for this page</small>
      <%- elsif params[:calendar_id].present? %>
        <%= link_to page['name'], edit_admin_calendar_path(params[:calendar_id], page_name: page['name'], page_link: page['link'], page_id: page['id']) %>
      <% else %>
        <%= link_to page['name'], new_admin_calendar_path(page_name: page['name'], page_link: page['link'], page_id: page['id']) %>
      <% end %>
    </li>
  <% end %>
</ul>
