@import "variables_mixins"

.card
  h1, h2
    color: $home-background
  border-radius: 1rem
  background-color: $base-primary
  text-align: center
  padding: 1rem
  margin: 0.5rem

  &--alt
    background-color: $home-background-2
