.form
  input, textarea
    border: 2px solid $home-background
    border-radius: 1.5rem
    padding: 0.4rem 1rem
    margin-bottom: 1rem
    width: 100%
    +fontstyle((18 24))
    font-family: $sans-serif
    color: $base-text
    +placeholder
      +fontstyle((18 24))
      font-family: $sans-serif
      color: $base-text
  label
    +fontstyle((18 26 bold))
    display: block
    padding-bottom: 0.5rem

  input
    background: transparent

  input[type='checkbox'].round
    width: 1.3rem
    height: 1.3rem
    padding: 0rem
    border-radius: 50%
    vertical-align: middle
    border: 2px solid $base-primary
    appearance: none
    -webkit-appearance: none
    outline: none
    cursor: pointer
    &:checked
      background-color: $base-primary

  input.form__submit
    background-color: $base-text
    border-color: $base-text
    box-shadow: inset 0 0 0 3px $home-pink-soft
    color: $home-background
    padding: 0.75rem 1rem
    width: 100%
    +for-tablet-portrait-up
      width: 23rem
    &:hover
      border-color: $home-background
      background-color: $home-background
      color: $base-text

  textarea
    min-height: 8rem
    margin: 0.5rem auto 0 auto
    resize: none
    +for-tablet-portrait-up
      width: 23rem
    +placeholder
      padding: 2rem 1rem 1rem
      text-align: center
      +for-tablet-portrait-up
        padding: 2rem

  abbr
    text-decoration: none

  &__field
    text-align: left

  &__checkbox
    margin: 0.25rem
    label, input
      width: auto
    input
      position: absolute
      opacity: 0
      cursor: pointer
      height: 0
      width: 0
    label
      display: inline-block
      font-weight: normal
      padding-right: 48px
      line-height: 30px
      background: image-url('icons/forms/unselected.svg')
      background-position: 100% 0%
      background-size: 30px 30px
      background-repeat: no-repeat
      cursor: pointer
    input:checked + label
      background: image-url('icons/forms/selected.svg')
      background-position: 100% 0%
      background-size: 30px 30px
      background-repeat: no-repeat
    +for-tablet-portrait-up
      padding-bottom: 0px
      margin: 0 1rem

  &__info
    .form-control-label
      white-space: nowrap
      +for-tablet-landscape-up
        margin-top: 1rem
        text-align: right
    .join_why
      display: grid
      grid-template-columns: 1fr
      +for-tablet-landscape-up
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 1rem

  &__person
    +for-tablet-portrait-up
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 1rem
      input, textarea
        margin-bottom: 0

  &__full-width
    margin: 1rem auto
    +for-tablet-portrait-up
      margin: 2rem auto
      width: 100%

  &__mid-width
    margin: 1rem auto
    max-width: 860px
    width: 100%
    +for-tablet-portrait-up
      margin: 2rem auto
      width: 95%
    +for-tablet-landscape-up
      width: 85%

  &__small-width
    margin: 0rem auto
    max-width: 860px
    width: 100%
    +for-tablet-portrait-up
      margin: 1rem auto
      width: 85%
    +for-tablet-landscape-up
      width: 70%
    +for-desktop-up
      width: 50%

  &__contact
    align-items: center
    display: flex
    flex-direction: column
    +for-tablet-landscape-up
      align-items: flex-start
      flex-direction: row
      margin: 0 auto

  &__contact-child
    display: flex
    flex-direction: column
    +for-tablet-portrait-up
      flex-direction: row
      margin: 0
    p
      margin: 0.25rem
      +for-tablet-portrait-up
        margin: 0 1rem 1.3rem
      +for-tablet-landscape-up
        margin: 0 1rem

  &--login
    input
      border-color: $base-primary
    input[type='submit']
      background-color: $base-primary
      width: auto
      margin: 0 auto
      padding-left: 3rem
      padding-right: 3rem
      display: block
      cursor: pointer
    label
      text-align: center
    +for-tablet-portrait-up
      width: 50%
      margin: 0 auto
    .devise
      font-size: 90%
      text-align: center
    .form__field--remember
      text-align: center
      label, input
        display: inline-block
        width: auto
