.grid {
	@supports (display: grid) {
		display: grid;
	}
}

.grid__audiences {
	@include for-tablet-portrait-up {
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.25rem;

		.card {
			margin: 0;
		}
	}

	@include for-tablet-landscape-up {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
