// FIXME: these styles have nothing to do with headers

body {
	background-image: image-url("patterns/PlaceCal_Backing.svg");
	background-color: $base-text;
	background-repeat: repeat;
	background-size: 75rem auto;
}

.background {
	background-color: $base-text;
	border: 0;
}
