.pullquote
  text-align: center
  blockquote
    background-image: url('home/icons/ldquo.svg'), url('home/icons/rdquo.svg')
    background-repeat: no-repeat
    background-position: 50% 0, 50% 100%
    background-size: 43px auto
    padding: 2rem 0
    color: $home-background
    margin: 0 0.5rem 1rem
  cite
    font-style: normal
    color: $base-primary
  strong
    margin: 1.25rem 0
    display: block
  span
    display: block
