@import "variables_mixins.scss";

@mixin border-highlight {
	border-color: $base-primary;
	border-color: var(--base-primary);
	border-width: 2px;
	border-style: solid;
	border-radius: 3rem;
}

.paginator {
	line-height: 1.3;

	// Day chooser
	&__buttons {
		@include flexbox;

		list-style-type: none;
		margin: 0;
		padding: 0 2.5rem 0.5rem 0;

		// Creates a context for the "next" arrow button
		position: relative;
		font-weight: $bold;
		overflow: hidden;

		a {
			text-decoration: none;
			border-bottom-width: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}

	li {
		@include flex(1 0 auto);
		@include border-highlight;

		padding: 0.3rem 1rem;
		text-align: center;
		margin-right: 0.25rem;

		@include for-tablet-portrait-up {
			margin: 0 0.25rem;
		}

		&.active,
		&:hover {
			background-color: $base-primary;
			background-color: var(--base-primary);
		}
	}

	li.paginator__arrow {
		@include flex(0 0 2.2222222rem);

		padding: 0;
		height: 2.2222222rem;
		background-color: $base-primary;
		background-color: var(--base-primary);
		border-width: 0;

		a {
			padding-top: 0.55rem;
		}

		&:hover {
			background-color: $base-text;
			border-color: $base-text;
		}

		&--back a {
			padding-right: 0.2rem;
		}

		&--forwards {
			width: 2.2222222rem;
			position: absolute;
			margin-right: 0;
			right: 0;
			top: 0;

			a {
				padding-left: 0.2rem;
			}
		}
	}

	// Title
	h2 {
		border-bottom: 4px solid $base-rules;
		padding-bottom: 0.5em;
	}

	// Icon custom size
	.icon {
		width: 0.5277777rem;
		height: 1.05555556rem;
	}
}

.filters {
	&__form {
		position: relative;
	}

	&__toggle {
	}

	&__dropdown {
		background-color: $base-background;
		box-shadow: 7px 7px 20px 0px rgba(153, 134, 117, 0.83);
		padding: 1rem;
		position: absolute;
		right: 0rem;
		top: 2rem;
		width: 13rem;
		z-index: 500;

		&--hidden {
			display: none;
		}
	}

	&__option {
		padding: 0.25rem 0;
		display: block;
	}

	input {
		float: right;

		&:checked + label {
			font-weight: bold;
		}
	}

	label {
		display: inline-block;
	}

	hr {
		border-width: 3px 0 0;
	}
}
