<div class="partnership_card">
  <div class="partnership_card--logo">
    <img class="partnership_card--image" src="<%= @logo_url %>" atl="<%= @title %>"/>
  </div>
  <p class="partnership_card--summary">
    <%= @summary %>
  </p>
  <a href="<%= @link_url %>" class="partnership_card--link">Link</a>
</div>
