
# used by the Eventbrite API Gem
EVENTBRITE_TOKEN=

# Appsignal provides performance monitoring
# Instructions on how to generate this here: https://docs.appsignal.com/ruby/installation.html
APPSIGNAL_PUSH_API_KEY=

# If you set up postgres via Docker as per the README, you should set these
# POSTGRES_HOST=localhost
# POSTGRES_USER=postgres
# POSTGRES_PORT=5432
# PGPASSWORD=foobar

SITE_DOMAIN=lvh.me
