<div class="nested-fields flex items-center gap-2">
    <%= f.input :neighbourhood_id,
                collection: options_for_service_area_neighbourhoods(@partner),
                include_blank: true,
                value_method: ->(obj) { obj[:id] },
                label_method: ->(obj) { obj[:name] },
                wrapper: :tw_vertical_form,
                input_html: {
                    class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-placecal-orange focus:ring-placecal-orange sm:text-sm',
                    data: { controller: "tom-select" },
                    disabled: f.object.neighbourhood_id && !current_user.can_edit_partners_neighbourhood_by_id?(f.object.neighbourhood_id, @partner.id),
                },
                label: false %>

    <%- if !f.object.neighbourhood_id || current_user.can_edit_partners_neighbourhood_by_id?(f.object.neighbourhood_id, @partner.id)%>
        <%= link_to_remove_association 'Remove', f, class: "text-sm text-red-600 hover:text-red-800" %>
    <% end %>
</div>
