<fieldset class="input-group nested-fields p-0">
    <%# The style width setting here is applied to dynamically created elements, we do not know why. %>
    <%# TODO: Fix the dynamic styling so that width does not get applied, so we can remove this smell %>
    
    <%= f.input :neighbourhood_id,
                collection: options_for_service_area_neighbourhoods(@partner),
                include_blank: true,
                value_method: ->(obj) { obj[:id] },
                label_method: ->(obj) { obj[:name] },
                input_html: { 
                    class: 'form-control', 
                    data: { controller: "select2" },
                    disabled: f.object.neighbourhood_id && !current_user.can_edit_partners_neighbourhood_by_id?(f.object.neighbourhood_id, @partner.id),
                },
                label: '', label_html: { hidden: true } %>

    <%- if !f.object.neighbourhood_id || current_user.can_edit_partners_neighbourhood_by_id?(f.object.neighbourhood_id, @partner.id)%>
        <div class="input-group-append p-0">
            <%= link_to_remove_association 'Remove', f, class: "pl-2 pt-1 text-danger" %>
        </div>
    <% end %>
</fieldset>
