<li class="preview">
  <div class="preview__header">
    <h3><%= link_to name, link %></h3>
    <% if show_neighbourhoods %>
      <div class="neighbourhood <%= primary_neighbourhood? ? 'neighbourhood--primary' : 'neighbourhood--secondary' %> preview__neighbourhood">
        <span><%= neighbourhood_name %></span>
      </div>
    <% end %>
  </div>
  <% if description %>
    <div class="preview__details">
      <p><%= truncate(description, length: 150, separator: /\s/) %></p>
    </div>
  <% end %>
</li>
