<li class="preview">
  <div class="preview__header">
    <h3><%= link_to name, link %></h3>
    <div class="neighbourhood preview__neighbourhood">
      <span class="<%= if primary_neighbourhood? then 'primary-neighbourhood' end %>"><%= neighbourhood_name %></span>
    </div>
  </div>
  <% if description %>
    <div class="preview__details">
      <p><%= truncate(description, length: 150, separator: /\s/) %></p>
    </div>
  <% end %>
</li>
