<li class="preview">
  <div class="preview__header">
    <h3><%= link_to name, link %></h3>
    <div class="turf preview__turf">
      <span><%= turf %></span>
    </div>
  </div>
  <% if description %>
    <div class="preview__details">
      <%= markdown truncate(description, length: 150, separator: /\s/) %>
    </div>
  <% end %>
</li>
