<li class="preview">
  <div class="preview__header">
    <h3><%= link_to name, link %></h3>
    <div class="turf preview__turf">
      <span><%= turf %></span>
    </div>
  </div>
  <% if description %>
    <div class="preview__details">
      <%= markdown description.split("\n\n", 2)[0] %>
    </div>
  <% end %>
</li>
