.articles
  margin: 2em auto
  width: 90%

  &__published
    text-align: right
    font-weight: bold
    margin: 0

  &__article-card
    border-bottom: 2px solid #998675
    margin: 1em 0

  &__title
    margin-top: 0px
    line-height: 1em
    a
      text-decoration: none

  &__content
    flex-direction: row;
    display: flex

  &__partners
    font-size: 0.8rem
    a
      text-decoration: none

  &__body
    flex-grow: 5

  &__image
    flex-grow: 5

    img
      max-width: 100%
      border-radius: 1rem;
      overflow: hidden

  &__pagination
    padding: 2em;

  +for-phone-only
    &__body
      order: 2

    &__image
      order: 1

    &__published
      text-align: left
      padding-bottom: 1em
