<div class="footer">
  <div class="c">
    <h5>PlaceCal</h5>

    <% if @site&.footer_logo %>
      <%= image_tag @site.footer_logo %>
    <% else %>
      <%= image_tag 'logo-footer.svg' %>
    <% end %>

    <div class="g">
      <div class="gi gi__1-5">
        <p>
          <strong>T:</strong> +44 (0) 161 247 6954<br>
          <strong>E:</strong> <a href="mailto:support@placecal.org">support@placecal.org</a>
        </p>
      </div>
      <div class="gi gi__2-5">
        <p>
          <strong>PlaceCal ℅‎ PHASE</strong><br>
          Chatham 510, Manchester School of Architecture<br>
          Cavendish Street, Manchester, M15 6BR
        </p>
        <p>
          © 2017 Geeks For Social Change<br>
          Build: <tt><%= ENV['GIT_REV'][0,7] if ENV['GIT_REV'] %></tt>
        </p>
      </div>
    </div>

    <hr>

    <ul class="footer__sponsors footer__sponsors--main">
      <li class="footer__sponsor footer__sponsor--gfsc"><a href="http://gfsc.studio/">Geeks for Social Change</a></li>
      <li class="footer__sponsor footer__sponsor--phase"><a href="http://msaphase.org/">PHASE@MSA</a></li>
    </ul>

    <hr>

    <h5>Sponsors</h5>

    <ul class="footer__sponsors">
      <li class="footer__sponsor footer__sponsor--cityverve"><a href="http://www.cityverve.org.uk/">CityVerve</a></li>
      <li class="footer__sponsor footer__sponsor--mmu"><a href="http://www2.mmu.ac.uk/">Manchester Metropolitan University</a></li>
      <li class="footer__sponsor footer__sponsor--mcc"><a href="http://www.manchester.gov.uk/">Manchester City Council</a></li>
    </ul>
  </div>


  <% if Rails.env.development? %>
    <pre class="small">
      <%= debug(params) %>
      <%# console %>
    </pre>
  <% end %>
</div>
