<div class="footer">
  <div class="c">
    <h5>PlaceCal</h5>

    <svg width="187px" height="56px" viewBox="0 0 187 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <polygon id="path-1" points="42.2133296 55.2095238 0.000322587601 55.2095238 0.000322587601 0.485681429 42.2133296 0.485681429 42.2133296 55.2095238"></polygon>
      </defs>
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer-Logo">
          <g id="Group-Copy-6">
            <path d="M58.7714286,16.0285714 L67.6757929,16.0285714 C73.6123008,16.0285714 76.5809524,18.8070311 76.5809524,24.3655776 C76.5809524,27.243297 75.8294453,29.3830771 74.3280218,30.7841042 C72.825803,32.1867585 70.6444444,32.887272 67.7839462,32.887272 L63.3488619,32.887272 L63.3488619,41.852381 L58.7714286,41.852381 L58.7714286,16.0285714 Z M67.2471555,28.9404762 C68.8201512,28.9404762 69.9939336,28.5719133 70.7685027,27.833974 C71.5438671,27.0968482 71.9311517,25.9643106 71.9311517,24.4396156 C71.9311517,22.9157342 71.5383004,21.7897055 70.7518026,21.0639702 C69.9645095,20.3382349 68.7605078,19.9753673 67.1397974,19.9753673 L63.3488619,19.9753673 L63.3488619,28.9404762 L67.2471555,28.9404762 Z" id="Fill-1" fill="#FFFCF0"></path>
            <path d="M81.3819677,41.3743647 C80.556181,40.462312 80.1428571,39.2815221 80.1428571,37.8311682 L80.1428571,14.247619 L84.944303,14.247619 L84.944303,35.9185862 C84.944303,36.9191155 85.0028573,37.6252741 85.1182435,38.0370622 C85.2344909,38.4496771 85.4402917,38.7002229 85.7382294,38.7870457 C86.0344448,38.8755222 86.545072,38.9185202 87.2666667,38.9185202 L86.8421486,42.7428571 L85.0992995,42.7428571 C83.446865,42.7428571 82.2068933,42.2872442 81.3819677,41.3743647" id="Fill-3" fill="#FFFCF0"></path>
            <path d="M89.6637495,40.3906473 C88.6585377,39.415362 88.1571429,38.0977318 88.1571429,36.4377565 C88.1571429,34.8733193 88.7255518,33.6161965 89.8639845,32.6647958 C91.0016098,31.7141912 92.3443145,31.0406473 93.8937133,30.6433678 C95.4423047,30.2460884 96.9311486,30.0239622 98.360245,29.975397 C98.3109936,28.9165158 98.0380927,28.1585799 97.5431571,27.7007929 C97.0457993,27.2445983 96.2287114,27.0153067 95.0927009,27.0153067 C94.2925684,27.0153067 93.5126209,27.1227871 92.7496288,27.3393403 C91.9874441,27.5566895 91.1098013,27.9061999 90.1175078,28.3862791 L89.7186527,24.7407026 C91.9204299,23.6818215 94.1230146,23.152381 96.3264067,23.152381 C98.4563255,23.152381 100.084042,23.7295906 101.210364,24.8856022 C102.335071,26.0408176 102.897828,27.8815192 102.897828,30.4092994 L102.897828,35.282541 C102.897828,36.1965226 102.939813,36.8517551 103.025397,37.2498307 C103.109366,37.6471102 103.254698,37.8994901 103.460585,38.0077667 C103.666472,38.1160432 104.011231,38.1701815 104.496478,38.1701815 L105.07619,38.1701815 L104.677335,41.852381 L103.043967,41.852381 C102.050866,41.852381 101.216015,41.6660816 100.5378,41.2926866 C99.8603925,40.9200879 99.33962,40.4081626 98.9770979,39.7585032 C98.3949631,40.4081626 97.6020972,40.9200879 96.5985002,41.2926866 C95.5932883,41.6660816 94.5347882,41.852381 93.4213848,41.852381 C91.9204299,41.852381 90.6673466,41.3651364 89.6637495,40.3906473 M96.8705937,38.0802164 C97.451921,37.851721 97.959775,37.5316682 98.3949631,37.1232427 L98.3949631,33.007937 C96.9432596,33.0803867 95.6603025,33.3932742 94.5477065,33.9465993 C93.4334958,34.5007205 92.8771979,35.2698026 92.8771979,36.256234 C92.8771979,37.0030238 93.0701662,37.5499797 93.4577178,37.8994901 C93.8452693,38.2490005 94.4621222,38.4225615 95.3090839,38.4225615 C95.7684939,38.4225615 96.2908811,38.3087118 96.8705937,38.0802164" id="Fill-5" fill="#FFFCF0"></path>
            <path d="M109.576592,40.6119534 C108.082877,39.7855305 106.96008,38.6640698 106.207361,37.2491576 C105.454643,35.8358316 105.07619,34.2646763 105.07619,32.5388641 C105.07619,30.7884654 105.454643,29.2006548 106.207361,27.7730528 C106.96008,26.3478301 108.089576,25.2208176 109.59585,24.3936016 C111.101286,23.5655924 112.933264,23.152381 115.092619,23.152381 C117.025071,23.152381 118.706337,23.5362473 120.13893,24.3039799 L119.762152,27.8991576 C118.406589,27.2281847 116.999952,26.8919051 115.544753,26.8919051 C113.762175,26.8919051 112.368934,27.4082211 111.365031,28.4384739 C110.361127,29.4695198 109.858757,30.8360522 109.858757,32.5388641 C109.858757,34.1687097 110.373687,35.5170005 111.403546,36.5837365 C112.431731,37.6504724 113.799853,38.1842369 115.506238,38.1842369 C116.937156,38.1842369 118.368074,37.7884739 119.798993,36.997741 L120.214286,40.7737483 C119.536086,41.1100279 118.738991,41.3725481 117.823003,41.5652743 C116.906177,41.7572075 115.945812,41.852381 114.941908,41.852381 C112.858746,41.852381 111.070307,41.4383764 109.576592,40.6119534" id="Fill-7" fill="#FFFCF0"></path>
            <path d="M125.609964,40.5705775 C124.102505,39.7163072 122.97375,38.5730341 122.226155,37.140758 C121.477742,35.7100742 121.104762,34.1145872 121.104762,32.3582776 C121.104762,30.6728254 121.458929,29.1322728 122.170535,27.7366197 C122.882141,26.3409666 123.911925,25.2279472 125.260705,24.3975615 C126.609485,23.5679719 128.215097,23.152381 130.079178,23.152381 C131.795212,23.152381 133.24787,23.5018913 134.437151,24.1993198 C135.627251,24.8967483 136.522075,25.8362067 137.12326,27.0145106 C137.723626,28.1936105 138.02381,29.5184062 138.02381,30.9849167 C138.02381,31.707822 137.925657,32.5262655 137.729352,33.4402471 L125.84962,33.4402471 C126.093366,35.0293649 126.732175,36.2148341 127.761959,36.9966546 C128.791743,37.7792713 130.030101,38.1701815 131.477034,38.1701815 C133.462987,38.1701815 135.301712,37.6765678 136.994026,36.6893403 L137.214869,40.4798162 C136.430466,40.889038 135.516012,41.2194407 134.473959,41.4726168 C133.431906,41.7257929 132.298243,41.852381 131.072154,41.852381 C128.938972,41.852381 127.118242,41.4248477 125.609964,40.5705775 L125.609964,40.5705775 Z M133.389373,30.4077071 C133.389373,29.4706371 133.119453,28.6394552 132.580432,27.9181422 C132.040593,27.1952369 131.207114,26.8345804 130.079178,26.8345804 C128.950423,26.8345804 128.04333,27.1594101 127.35708,27.8090695 C126.67083,28.4579327 126.204605,29.3249414 125.959224,30.4077071 L133.389373,30.4077071 Z" id="Fill-9" fill="#FFFCF0"></path>
            <path d="M145.980691,40.2006934 C144.024286,39.0992986 142.506731,37.5390568 141.424822,35.5215865 C140.344515,33.5033068 139.804762,31.1621348 139.804762,28.4940242 C139.804762,25.852619 140.362934,23.5235858 141.479278,21.5044969 C142.594821,19.4870265 144.144409,17.9219292 146.125639,16.8075864 C148.106069,15.694862 150.356375,15.1380952 152.877359,15.1380952 C155.301443,15.1380952 157.474069,15.6398328 159.395238,16.644117 L158.890721,21.1201012 C157.859264,20.6555894 156.868649,20.2946621 155.920477,20.0365101 C154.971505,19.7807858 153.945653,19.6513051 152.840521,19.6513051 C150.272289,19.6513051 148.298266,20.4589407 146.917651,22.0742118 C145.536235,23.6878644 144.846729,25.8291506 144.846729,28.4940242 C144.846729,31.1621348 145.524223,33.3018026 146.881614,34.9162644 C148.236603,36.5315355 150.188203,37.3383618 152.734012,37.3383618 C153.861567,37.3383618 154.899431,37.2161645 155.848403,36.9709605 C156.796575,36.727375 157.810414,36.3599737 158.890721,35.870375 L159.395238,40.3479777 C157.306698,41.3506434 155.086022,41.852381 152.734012,41.852381 C150.188203,41.852381 147.937897,41.3004697 145.980691,40.2006934" id="Fill-11" fill="#FFFCF0"></path>
            <path d="M162.683533,40.3906473 C161.678369,39.415362 161.17619,38.0977318 161.17619,36.4377565 C161.17619,34.8733193 161.74538,33.6161965 162.883758,32.6647958 C164.021329,31.7141912 165.36397,31.0406473 166.913295,30.6433678 C168.461812,30.2460884 169.950585,30.0239622 171.379613,29.975397 C171.330364,28.9165158 171.057476,28.1585799 170.562564,27.7007929 C170.06523,27.2445983 169.248181,27.0153067 168.112225,27.0153067 C167.312131,27.0153067 166.53222,27.1227871 165.769265,27.3393403 C165.007924,27.5566895 164.129515,27.9061999 163.137269,28.3862791 L162.737626,24.7407026 C164.940913,23.6818215 167.142585,23.152381 169.345872,23.152381 C171.475689,23.152381 173.104135,23.7295906 174.229596,24.8856022 C175.354249,26.0408176 175.917787,27.8815192 175.917787,30.4092994 L175.917787,35.282541 C175.917787,36.1965226 175.959769,36.8517551 176.044542,37.2498307 C176.129315,37.6471102 176.273833,37.8994901 176.480517,38.0077667 C176.685587,38.1160432 177.03033,38.1701815 177.515553,38.1701815 L178.095238,38.1701815 L177.697209,41.852381 L176.063112,41.852381 C175.070058,41.852381 174.235247,41.6660816 173.557872,41.2926866 C172.879689,40.9200879 172.358941,40.4081626 171.996437,39.7585032 C171.415137,40.4081626 170.622309,40.9200879 169.617952,41.2926866 C168.613596,41.6660816 167.554339,41.852381 166.441796,41.852381 C164.940913,41.852381 163.687082,41.3651364 162.683533,40.3906473 M169.890033,38.0802164 C170.471332,37.851721 170.979162,37.5316682 171.415137,37.1232427 L171.415137,33.007937 C169.962695,33.0803867 168.680607,33.3932742 167.567257,33.9465993 C166.453099,34.5007205 165.896828,35.2698026 165.896828,36.256234 C165.896828,37.0030238 166.090594,37.5499797 166.47732,37.8994901 C166.864046,38.2490005 167.481676,38.4225615 168.329405,38.4225615 C168.788793,38.4225615 169.310348,38.3087118 169.890033,38.0802164" id="Fill-13" fill="#FFFCF0"></path>
            <path d="M181.115301,41.3743647 C180.288653,40.462312 179.87619,39.2815221 179.87619,37.8311682 L179.87619,14.247619 L184.676775,14.247619 L184.676775,35.9185862 C184.676775,36.9191155 184.736191,37.6252741 184.850716,38.0370622 C184.967824,38.4496771 185.173625,38.7002229 185.471563,38.7870457 C185.766917,38.8755222 186.278405,38.9185202 187,38.9185202 L186.575482,42.7428571 L184.832633,42.7428571 C183.180198,42.7428571 181.941088,42.2872442 181.115301,41.3743647" id="Fill-15" fill="#FFFCF0"></path>
            <polygon id="Fill-17" fill="#FFFCF0" points="28.4952381 17.9408863 25.7529637 15.1380952 21.6522993 19.3277512 19.6613221 17.2950819 16.9190476 20.0970657 18.9100249 22.1305423 21.2093288 24.480463 21.6522993 24.9333333 23.7046233 22.8344691"></polygon>
            <g id="Group-21">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
              <g id="Clip-20"></g>
              <path d="M21.1064229,0.485681429 C9.45052636,0.485681429 0.000322587601,10.0775243 0.000322587601,21.9110362 C0.000322587601,40.658729 21.1064229,55.2096862 21.1064229,55.2096862 C21.1064229,55.2096862 42.2133296,40.658729 42.2133296,21.9110362 C42.2133296,10.0775243 32.7631258,0.485681429 21.1064229,0.485681429 M21.1064229,34.9209981 C14.027238,34.9209981 8.28840453,29.0972052 8.28840453,21.9110362 C8.28840453,14.725679 14.027238,8.90026238 21.1064229,8.90026238 C28.1856078,8.90026238 33.9244412,14.725679 33.9244412,21.9110362 C33.9244412,29.0972052 28.1856078,34.9209981 21.1064229,34.9209981" id="Fill-19" fill="#F19089" mask="url(#mask-2)"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>

    <div class="g">
      <div class="gi gi__1-5">
        <p>
          <strong>T:</strong> +44 (0) 161 247 6954<br>
          <strong>E:</strong> <a href="mailto:support@placecal.org">support@placecal.org</a>
        </p>
      </div>
      <div class="gi gi__2-5">
        <p>
          <strong>PlaceCal ℅‎ PHASE</strong><br>
          Chatham 510, Manchester School of Architecture<br>
          Cavendish Street, Manchester, M15 6BR
        </p>
        <p>
          © 2017 Geeks For Social Change<br>
          Build: <tt><%= ENV['GIT_REV'][0,7] if ENV['GIT_REV'] %></tt>
        </p>
      </div>
    </div>

    <hr>

    <ul class="footer__sponsors footer__sponsors--main">
      <li class="footer__sponsor footer__sponsor--gfsc"><a href="http://gfsc.studio/">Geeks for Social Change</a></li>
      <li class="footer__sponsor footer__sponsor--phase"><a href="http://msaphase.org/">PHASE@MSA</a></li>
    </ul>

    <hr>

    <h5>Sponsors</h5>

    <ul class="footer__sponsors">
      <li class="footer__sponsor footer__sponsor--cityverve"><a href="http://www.cityverve.org.uk/">CityVerve</a></li>
      <li class="footer__sponsor footer__sponsor--mmu"><a href="http://www2.mmu.ac.uk/">Manchester Metropolitan University</a></li>
      <li class="footer__sponsor footer__sponsor--mcc"><a href="http://www.manchester.gov.uk/">Manchester City Council</a></li>
    </ul>
  </div>


  <% if Rails.env.development? %>
    <pre class="small">
      <%= debug(params) %>
      <%# console %>
    </pre>
  <% end %>
</div>
