@import "variables_mixins"

.footer
  background-color: $grey
  color: $cream
  font-size: 0.9rem
  line-height: 1.4rem
  padding: 3rem 0

  a
    color: $cream
    border-color: $red

  hr
    border-color: $red
    margin: 2em 0
    border-width: 3px

  h5
    margin-bottom: 0

  &__nav
    font-size: 1rem
    ul
      list-style-type: none
      margin-left: 0
      padding-left: 0
    li
      display: inline-block
      margin-right: 0.5rem

  &__supporters
    padding: 0
    margin: 1rem 0 0 0
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 1rem
    +for-tablet-portrait-up
      grid-template-columns: repeat(4, 1fr)
    +for-tablet-landscape-up
      grid-template-columns: repeat(6, 1fr)
    li
      height: 100px
      background-size: 100%
      list-style-type: none
      margin: 0

  &__supporter
    text-indent: -9999px
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    a
      display: block
      width: 100%
      height: 100%
      border: none
