---
http_interactions:
  - request:
      method: get
      uri: https://api.meetup.com/haeKohtheuwae7uY6sie/events
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 504
        message: Bad Gateway
      headers:
        Content-Type:
          - application/html; charset=utf-8
        X-Oauth-Scopes:
          - basic
        X-Accepted-Oauth-Scopes:
          - basic
        X-Ratelimit-Limit:
          - "30"
        X-Ratelimit-Remaining:
          - "29"
        X-Ratelimit-Reset:
          - "10"
        Etag:
          - '"81974ed1f846f7bb66a198e756391d5a-gzip"'
        X-Geo-Service-Region:
          - east
      body:
        encoding: ASCII-8BIT
        string: |
          <html>
          <head><title>504 Gateway Time-out</title></head>
          <body>
          <center><h1>504 Gateway Time-out</h1></center>
          </body>
          </html>
    recorded_at: Thu, 20 Oct 2022 09:41:09 GMT
recorded_with: VCR 6.1.0
