---
http_interactions:
  - request:
      method: get
      uri: https://api.meetup.com/tglondon/events
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Oauth-Scopes:
          - basic
        X-Accepted-Oauth-Scopes:
          - basic
        X-Ratelimit-Limit:
          - "30"
        X-Ratelimit-Remaining:
          - "29"
        X-Ratelimit-Reset:
          - "10"
        X-Total-Count:
          - "134"
        Etag:
          - '"58ce0333588789aeabff0c55aefe64c1-gzip"'
        X-Geo-Gql-Beta:
          - east
        X-Geo-Rest-Beta:
          - east
        X-Geo:
          - east
      body:
        encoding: ASCII-8BIT
        string:
          '[{"local_time":"16:00","local_date":"2023-01-31","link":"https://www.meetup.com/tglondon/events/htttrsyfccbpc/","visibility":"public_limited","group":{"created":1228738222000,"name":"TG
          London","id":1334568,"join_mode":"approval","lat":51.52000045776367,"lon":-0.10000000149011612,"urlname":"tglondon","who":"Well-Dressed
          Individuals","localized_location":"London, United Kingdom","state":"17","country":"gb","region":"en_US","timezone":"Europe/London"},"waitlist_count":0,"yes_rsvp_count":1,"duration":7200000,"time":1675180800000,"utc_offset":0,"name":"CliniQ","id":"htttrsyfccbpc"},{"local_time":"19:00","local_date":"2023-02-02","link":"https://www.meetup.com/tglondon/events/cfmqxryfcdbdb/","visibility":"public_limited","group":{"created":1228738222000,"name":"TG
          London","id":1334568,"join_mode":"approval","lat":51.52000045776367,"lon":-0.10000000149011612,"urlname":"tglondon","who":"Well-Dressed
          Individuals","localized_location":"London, United Kingdom","state":"17","country":"gb","region":"en_US","timezone":"Eur[...]
