---
http_interactions:
- request:
    method: get
    uri: https://calendar.google.com/calendar/ical/mgemn0rmm44un8ucifb287coto@group.calendar.google.com/public/basic.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/calendar; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "BEGIN:VCALENDAR\r\nPRODID:-//Google Inc//Google Calendar 70.9054//EN\r\nVERSION:2.0\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nX-WR-CALNAME:justin-placecal-test\r\nX-WR-TIMEZONE:Europe/London\r\nX-WR-CALDESC:test
        events for placecal\r\nBEGIN:VEVENT\r\nDTSTART;VALUE=DATE:20181205\r\nDTEND;VALUE=DATE:20181206\r\nDTSTAMP:20181205T150752Z\r\nUID:1mb5ai9ondcl9dim5uf1s8uvli@google.com\r\nCREATED:20181205T[...]
[...]
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/M155DD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f3-evzbfbbynEEQ67FT+zaCAMo8XWo"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":{"postcode":"M15 5DD","quality":1,"eastings":384383,"northings":396542,"country":"England","nhs_ha":"North
        West","longitude":-2.236704,"latitude":53.465385,"european_electoral_region":"North
        West","primary_care_trust":"Manchester Teaching","region":"North West","lsoa":"Manchester
        019B","msoa":"Manchester 019","incode":"6FH","outcode":"M15","parliamentary_constituency":"Manchester
        Central","admin_district":"Manchester","parish":"Manchester, unparished area","admin_county":null,"admin_ward":"Hulme","ccg":"NHS
        Manchester","nuts":"Manchester","codes":{"admin_district":"E08000003","admin_county":"E99999999","admin_ward":"E05011368","parish":"E43000157","parliamentary_constituency":"E14000807","ccg":"E38000217","nuts":"UKD33"}}}'
  recorded_at: Wed, 05 Dec 2018 15:07:52 GMT
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/M167BA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f3-I4mV5nZ68cztrBbrPq0/xG1H6oM"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":{"postcode":"M16 7BA","quality":1,"eastings":384271,"northings":396122,"country":"England","nhs_ha":"North
        West","longitude":-2.238369,"latitude":53.461623,"european_electoral_region":"North
        West","primary_care_trust":"Manchester Teaching","region":"North West","lsoa":"Manchester
        019B","msoa":"Manchester 019","incode":"6SY","outcode":"M15","parliamentary_constituency":"Manchester
        Central","admin_district":"Manchester","parish":"Manchester, unparished area","admin_county":null,"admin_ward":"Hulme","ccg":"NHS
        Manchester","nuts":"Manchester","codes":{"admin_district":"E08000003","admin_county":"E99999999","admin_ward":"E05011368","parish":"E43000157","parliamentary_constituency":"E14000807","ccg":"E38000217","nuts":"UKD33"}}}'
  recorded_at: Wed, 05 Dec 2018 15:07:53 GMT
[...]
