---
http_interactions:
- request:
    method: get
    uri: https://z-arts.ticketsolve.com/shows.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 302 Found
      Location:
      - https://ticketsolve.queue-it.net/?c=ticketsolve&e=zarts&t=https%3A%2F%2Fz-arts.ticketsolve.com%2Fshows.xml
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://ticketsolve.queue-it.net/?c=ticketsolve&amp;e=zarts&amp;t=https%3A%2F%2Fz-arts.ticketsolve.com%2Fshows.xml">redirected</a>.</body></html>
  recorded_at: Wed, 04 Jul 2018 11:13:22 GMT
- request:
    method: get
    uri: https://ticketsolve.queue-it.net/?c=ticketsolve&e=zarts&t=https://z-arts.ticketsolve.com/shows.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://ticketsolve.queue-it.net/?c=ticketsolve&e=zarts&t=https%3A%2F%2Fz-arts.ticketsolve.com%2Fshows.xml
    body:
      encoding: UTF-8
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"http://ticketsolve.queue-it.net/?c=ticketsolve&amp;e=zarts&amp;t=https%3A%2F%2Fz-arts.ticketsolve.com%2Fshows.xml\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Wed, 04 Jul 2018 11:13:22 GMT
- request:
    method: get
    uri: http://ticketsolve.queue-it.net/?c=ticketsolve&e=zarts&t=https://z-arts.ticketsolve.com/shows.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://z-arts.ticketsolve.com/shows.xml?TSLVq=32c02b07-27ad-431d-9c45-858f13940736&TSLVp=b4099ad9-979b-4c1c-b98c-c59c5b984d1d&TSLVts=1530702803&TSLVc=ticketsolve&TSLVe=zarts&TSLVrt=Safetynet&TSLVh=582a97cac6230a69f3dc041895355cab
    body:
      encoding: UTF-8
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"https://z-arts.ticketsolve.com/shows.xml?TSLVq=32c02b07-27ad-431d-9c45-858f13940736&amp;TSLVp=b4099ad9-979b-4c1c-b98c-c59c5b984d1d&amp;TSLVts=1530702803&amp;TSLVc=ticketsolve&amp;TSLVe=zarts&amp;TSLVrt=Safetynet&amp;TSLVh=582a97cac6230a69f3dc041895355cab\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Wed, 04 Jul 2018 11:13:23 GMT
- request:
    method: get
    uri: https://z-arts.ticketsolve.com/shows.xml?TSLVc=ticketsolve&TSLVe=zarts&TSLVh=582a97cac6230a69f3dc041895355cab&TSLVp=b4099ad9-979b-4c1c-b98c-c59c5b984d1d&TSLVq=32c02b07-27ad-431d-9c45-858f13940736&TSLVrt=Safetynet&TSLVts=1530702803
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"89ce231194df0673683705573d75a262"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <venues>
          <venue id="126563236">
            <name>
              <![CDATA[Manchester Communication Academy]]>
            </name>
            <shows>
              <show id="873589467">
                <name>
                  <![CDATA[Inuk]]>
                </name>
                <description>
                  <![CDATA[<p>Saturday 7 July<br> 11.30am &amp; 2.30pm<br>Run time 1hr 15 minutes<br>Ages 8+</p>
        <p class="xmsonormal"><strong>Location: Manchester Communication Academy, Silchester Drive, Harpurhey, Manchester, M40 8NT<br><span class="xlrzxr"></span></strong></p>
        <p>Manchester International Festival and Z-arts present INUK created by Studio ORKA.</p>
        <p>Four strangers find themselves stranded at a hotel searching for refuge on a stormy night, longing for a shoulder to lean on. Whilst sheltering from the weather, they each find out something about themselves, regain their confidence and discover their voice.</p>
        <p>This beautiful production from Studio ORKA, one of Europe&rsquo;s most prestigious[...]
[...]
