<% if flash.any? %>
  <div class="space-y-2 mb-4">
    <% flash.each do |key, value| -%>
      <%
        color_classes = case key.to_s
        when 'notice', 'success'
          'bg-green-50 border-green-400 text-green-800'
        when 'alert', 'error'
          'bg-red-50 border-red-400 text-red-800'
        when 'warning'
          'bg-yellow-50 border-yellow-400 text-yellow-800'
        else
          'bg-blue-50 border-blue-400 text-blue-800'
        end
      %>
      <div class="px-4 py-3 rounded-md border-l-4 <%= color_classes %>" role="alert">
        <%= value %>
      </div>
    <% end -%>
  </div>
<% end %>
