<div class="breadcrumb">
  <div class="breadcrumb__element">
    <span class="breadcrumb__tagline">
      <%= link_to @site_name, "/" %>
    </span>
  </div>
  <% @trail.each do |link| %>
    <div class="breadcrumb__element">
      <%= icon(:triangle_right, size: '0') %>
      <%= link_to link[0], link[1] %>
    </div>
  <% end %>
  <div class="breadcrumb__element breadcrumb__element--last">
    <%= content %>
  </div>
</div>
