<div class="help help__computer_access">
  <%= svg_image('home/site/computer_access', alt_text: 'Computer access') %>

  <h3 class="h2--alt"><span>Computer access</span></h3>

  <p>Places with computers you can use</p>

  <% if @places %>
    <ul>
      <% @places.each do |location| %>
        <li><%= link_to location.name, partner_path(location) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Information about getting online coming soon.</p>
  <% end %>
</div>
