<div class="paginator__nav" data-controller="paginator">
  <ol class="paginator__buttons paginator__buttons--day">
    <% pages.each do |page| %>
      <li class="<%= page[:css] %>" <%= tag.attributes(page[:data].transform_keys { |k| "data-#{k.to_s.dasherize}" }) %>>
        <%= link_to page[:text], page[:url], data: { turbo_frame: 'events-browser', turbo_action: 'advance' } %>
      </li>
    <% end %>
  </ol>
</div>
<hr>
