<div class="help help__free_public_wifi">
  <%= helpers.svg_image('home/site/free_public_wifi', alt_text: 'Free public WiFi') %>

  <h3 class="h2--alt"><span>Public Wifi</span></h3>

  <% if @places.any? %>
    <ul>
      <% @places.each do |location| %>
        <li><%= link_to location.name, partner_path(location) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Information about getting public wifi coming soon.</p>
  <% end %>
</div>
