<div class="help help__getting_help">
  <%= svg_image('home/site/help_getting_help', alt_text: 'Getting help') %>

  <h3 class="h2--alt"><span>PlaceCal Support</span></h3>

  <p>You can find out more about how PlaceCal works in our handbook.</p>

  <%= link_to "Handbook", "https://handbook.placecal.org", class: "btn btn--lg" %>
</div>
