<% if @site.site_admin %>
  <div class="help help__adding_events">
    <%= svg_image('home/site/help_adding_events', alt_text: 'Adding events') %>

    <h3 class="h2--alt"><span>Adding Your Events</span></h3>

    <p>Want to add your organisation's events? Something on we should know about?</p>

    <%= mail_to @site.site_admin.email, "Email now", class: "btn btn--lg" %>
  </div>
<% end %>
