<div class="card__body">
  <h3 class="alt-title-small center"><%= title %></h3>
  <figure>
    <%= image_tag image, class: 'rounded' %>
    <figcaption><%= image_caption %></figcaption>
  </figure>
  <div class="impact__cols">
    <%= content %>
  </div>
</div>
