<div class="meta small">
  <div class="c">
    <%= link %>
    <% if @permalink %>
      <div class="meta__permalink">
        <a href="https://placecal.org<%= @permalink %>">Permalink</a>
      </div>
    <% end %>
  </div>
</div>