<%= form_with url: partners_path,
              method: :get,
              data: { controller: "partner-filter-component",
                      "partner-filter-component-target": "form",
                      "turbo-action": "advance"
                    },
              class: 'filters__form' do %>
  <div class="breadcrumb__element breadcrumb__element--last">
    <span>Filter by:</span>

    <% if show_category_filter? %>
      <div class="breadcrumb__filters filters">
        <%= render FilterComponent.new(
          name: "category",
          label: "Category",
          items: category_items,
          selected_id: selected_category,
          controller: "partner-filter-component",
          toggle_action: "toggleCategory",
          submit_action: "submitCategory",
          reset_action: "resetCategory"
        ) %>
      </div>
    <% end %>

    <% if show_neighbourhood_filter? %>
      <div class="breadcrumb__filters filters">
        <%= render FilterComponent.new(
          name: "neighbourhood",
          label: "Neighbourhood",
          items: neighbourhood_items,
          selected_id: selected_neighbourhood,
          controller: "partner-filter-component",
          toggle_action: "toggleNeighbourhood",
          submit_action: "submitNeighbourhood",
          reset_action: "resetNeighbourhood"
        ) %>
      </div>
    <% end %>

    <% if any_filter_active? %>
      <div class="breadcrumb__filters">
        <%= link_to "Reset filters", partners_path, class: "filters__link", data: { turbo_frame: "partner_previews" } %>
      </div>
    <% end %>

  </div>
<% end %>
