<div class="meta small">
  <div class="c">
    <%= properties[:yield] %>
    <% if properties[:permalink] %>
      <div class="meta__permalink">
        <a href="https://placecal.org<%= properties[:permalink] %>">Permalink</a>
      </div>
    <% end %>
  </div>
</div>