<% unless simple %>
  <div class="place_info">
    <h3 class="udl udl--fw allcaps h4">Get in touch</h3>
<% end %>
    <p class="place_info__contact">
      <% if phone.present? %>
        <strong>T:</strong> <%= link_to phone, "tel:#{phone}", { property: 'telephone' } %></span><br>
      <% end %>
      <% if email.present? %>
        <strong>E:</strong> <%= mail_to email, email, { property: 'email' } %><br>
      <% end %>
      <% if url.present? %>
        <strong>W:</strong> <span class='url'><%= link_to formatted_url, url, { property: 'url' } %></a></span>
      <% end %>
      <% unless contact? %>
        No contact information - let us know!
      <% end %>
    </p>
<% unless simple %>
    <h3 class="udl udl--fw allcaps h4">Address</h3>
    <p class="place_info__address" property="address" typeof="PostalAddress">
      <%= address %>
    </p>
  </div>
<% end %>
