<div class="card card--split card--audience">
  <div class="card__title">
    <h3 class="small"><%= title %></h3>
  </div>
  <div class="card__body">
    <%= image_tag :image, alt: image_alt, class: "card--audience__image" %>
    <p class="small"><%= body %></p>
    <%# link_to "View more", link, class: 'btn btn--small' if link %>
  </div>
</div>
