<%= render_component "hero", title: "Partners", subtitle: "Hulme & Moss Side" %>

<div class="c">
  <ul class="partners reset">
    <% @partners.each do |partner| %>
      <li>
        <h3><%= link_to partner.name, partner %></h3>
        <p><%= partner.address %></p>
      </li>
    <% end %>
  </ul>
</div>
