<p id="notice"><%= notice %></p>

<h1>Partners</h1>

<ul class="partners reset">
  <% @partners.each do |partner| %>
    <li>
      <h3><%= link_to partner.name, partner %></h3>
      <p><%= partner.address %></p>
    </li>
  <% end %>
</ul>
