<%= render_component "hero", title: "Partners in Hulme & Moss Side", subtitle: "The Community Calendar" %>

<div class="c c--lg-space-after">
  <%= render_component "breadcrumb", trail: [['Partners', partners_path]] %>
  <hr>
  <ul class="partners reset">
    <% @partners.each do |partner| %>
      <li>
        <h3><%= link_to partner.name, partner %></h3>
      </li>
    <% end %>
  </ul>
</div>
