<% content_for :title, 'Partners in your area' %>
<%= render_component "hero", title: 'Partners in your area', subtitle: @site.tagline %>

<div class="c c--lg-space-after">
  <%= render_component "breadcrumb", trail: [['Partners', partners_path]] %>
  <hr>
  <ul class="partners reset two-col">
    <% @partners.each do |partner| %>
      <%= render_component("place_partner_preview",
        previewee: partner, primary_neighbourhood: @primary_neighbourhood, show_neighbourhoods: @current_site.show_neighbourhoods?) %>
    <% end %>
  </ul>
</div>

<% if @map&.length&.positive? %>
  <%= render_component "map", points: @map, site: @current_site.slug %>
<% end %>
