<li class="event">
  <h3><%= link_to properties[:summary], properties[:event_path] %></h3>
  <p><time><%= dtstart %> &mdash; <%= dtend %></time></p>
  <p><%= link_to properties[:place], properties[:place_path] %></p>
</li>
