@import "variables_mixins"

.events li
  width: 100%
  display: block

.event
  margin-bottom: 2rem
  h3
    margin-bottom: 0.5em
    a
      border-bottom-width: 0
  &__details
    +flexbox
    +flex-wrap(wrap)
    +align-items(center)
    border-width: 3px 0
    border-color: $linen
    border-style: solid
    padding: 0.5rem 0
    +for-tablet-portrait-up
      padding: 1rem 0
    .icon
      width: 1.75rem
      height: 1.75rem
      margin-right: 0.25rem
  &--full 
    .event__details
      border-top-width: 0
      border-bottom-width: 10px
  &__detail
    +for-phone-only
      +flex(1 0 100%)
      margin-bottom: 0.5rem
    +for-tablet-portrait-up
      +flex(0 0 auto)
    +flexbox
    +align-items(center)
    margin-right: 1rem
  &__time, &__date
    +for-phone-only
      +flex(1 0 44%) // Set by eye
  &__location
    +flexbox
    .icon
      +flex(0 0 1.75rem)
    +flex(1 1 auto)
  &__duration
    +for-phone-only
      display: none
  &__repeats
    +for-phone-only
      margin-bottom: 0
    +for-tablet-portrait-up
      // +h4
      // font-size: $small-font-size
