<% if show_paginator %>
  <%= render_component "paginator",
    pointer: pointer,
    period: period,
    sort: sort,
    repeating: repeating,
    path: path,
    show_breadcrumb: show_breadcrumb
  %>
<% end %>
<% if events.any? %>
  <% events.each do |day, events| %>
    <h2 class="udl udl--fw"><%= day.strftime('%A %e %B') %></h2>
    <ol class="events reset">
      <% events.each do |event| %>
        <li>
          <%= render_component "event", context: @period,
                                        event: event,
                                        primary_neighbourhood: @primary_neighbourhood,
                                        show_neighbourhoods: @current_site.show_neighbourhoods?,
                                        badge_zoom_level: @current_site.badge_zoom_level %>
        </li>
      <% end %>
    </ol>
  <% end %>
<% else %>
  <p>No events with this selection.</p>
  <p><%= link_to 'Skip to next date with events.', next_url(@next) if @next.present? %></p>
<% end %>
