<%- disabled_fields = policy(@article).disabled_fields %>

<div class="max-w-2xl">
  <%= render Components::Admin::ImageUpload.new(
    form: f,
    attribute: :article_image,
    title: t('admin.articles.image.title'),
    aspect: '16:9'
  ) %>
</div>
