<div class="hero">  
  <div class="c">
    <% if subtitle %>
      <h4><%= subtitle %></h4>
      <div role="presentation" class="hero__divider"></div>
    <% end %>
    <h1><%= properties[:title] %></h1>
  </div>
</div>
