@import "variables_mixins";

.hero {
	background-color: $base-primary;
	background-color: var(--base-primary);
	text-align: center;
	padding: 2rem 0 1rem;

	// Background graphics
	background-image: image-url("patterns/mobile-l.svg"),
		image-url("patterns/mobile-r.svg");
	background-position: (-2.5rem) 1.5rem, right -2.5rem top 1.5rem;
	background-repeat: no-repeat, no-repeat;

	@include for-tablet-portrait-up {
		background-image: image-url("patterns/tablet-l.svg"),
			image-url("patterns/tablet-r.svg");
		background-position: (-6.5rem) -1rem, right -6.5rem top -1rem;
	}

	@include for-tablet-landscape-up {
		background-position: 5% -1rem, right 5% top -1rem;
	}

	// Headers
	h1 {
		margin-top: 1.25rem;
		text-align: center;
	}

	h4 {
		display: inline-block;
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
		line-height: 1.2;

		@include for-phone-only {
			// FIXME: find dynamic way to do sensible linebreaks on mobile
			max-width: 14rem;
		}
	}

	// Divider between the two headers
	&__divider {
		margin: 0 auto;
		width: 4.5rem;
		border-width: 0 0 4px 0;
		border-color: $base-background;
		border-style: solid;
	}

	br {
		display: none;

		@include for-tablet-portrait-up {
			display: block;
		}
	}
}
