@import "variables_mixins";

.container-with-header {
	display: grid;
	grid-template-rows: auto 2rem auto;
	grid-template-columns: 1fr;
}

.container-with-header__head {
	grid-row: 1/3;
	grid-column: 1/2;
	border-radius: 1.11rem 1.11rem 0 0;
	background-color: $home-green;
	padding: 1.5rem 1rem 3.5rem 1rem;
}

.container-with-header__head--blue {
	background-color: $home-blue;
}

.container-with-header__head--green {
	background-color: $home-green;
}

.container-with-header__head--red {
	background-color: $base-secondary;
}

.container-with-header__title {
	font-size: 1.8rem;
	font-weight: 400;
	margin: 0 auto 0 auto;
	max-width: 25ch;
	text-align: center;
	@include for-tablet-portrait-up {
		font-size: 2.2rem;
	}
}

.container-with-header__body {
	grid-row: 2/4;
	grid-column: 1/2;
	border-radius: 1.11rem;
	background-color: $home-background;
	padding: 3rem 1rem;
}
