<div class="container-with-header" >
  <div class="container-with-header__head container-with-header__head--<%= @color %>">
    <h3 class="container-with-header__title">
      <%= @title %>
    </h3> 
  </div>
  <div class="container-with-header__body">
    <%= content %>
  </div>
</div>
