---
http_interactions:
  - request:
      method: get
      uri: http://events.manchester.ac.uk/f3vf/calendar/tag:martin_harris_centre/view:list/p:q_details/calml.xml
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        X-Columba-Date:
          - "2018-07-04"
        X-Columba-View:
          - list
        X-Columba-Layout-Message:
          - From Wednesday 4 July 2018
        X-Columba-Layout-Day-Next:
          - "2018-07-20"
        X-Columba-Layout-Day-Previous:
          - "2018-07-03"
        X-Columba-Layout-Day-First:
          - "2018-07-04"
        X-Columba-Eventcount:
          - "3"
        Content-Type:
          - text/xml;charset=UTF-8
        Content-Language:
          - en-GB
      body:
        encoding: UTF-8
        string:
          "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!--Columba Systems Ltd
          - CalMl10View - 3.3-M3--><ns:calendar xmlns:ns=\"http://www.columbasystems.com/cpng/xmlviewer/cal/1-0/\"><ns:state><ns:date>2018-07-04</ns:date><ns:view>list</ns:view><ns:userTimezone>Europe/London</ns:userTimezone><ns:searchCode
          xmlns:tag=\"http://www.columbasystems.com/customers/uom/gpp/tag/\" query=\"{http://www.columbasystems.com/customers/uom/gpp/tag/}martin_harris_centre\">tag:martin_harris_centre</ns:searchCode></ns:state><ns:viewInformation><ns:previous>2018-07-03</ns:previous><ns:next>2018-07-20</ns:next><ns:timezone
          id=\"Europe__London-D60\"><ns:longName>British Summer Time</ns:longName><ns:shortName>BST</ns:shortName><ns:hourOffset>01:00</ns:hourOffset><ns:millisecondOffset>3600000</ns:millisecondOffset></ns:timezone><ns:timezone
          id=\"GMT\"><ns:longName>Greenwich Mean Time</ns:longName><ns:shortName>GMT</ns:shortName><ns:hourOffset>00:00</ns:hourOffset><ns:millisecondOffset>0</ns:millisecondOffset></ns:timezone></ns:viewInformation><ns:listView><ns:day
          date=\"2018-07-04\" weekDay=\"Wed\"><ns:event><ns:id xmlns:even=\"http://www.columbasystems.com/customers/uom/gpp/eventid/\"
          query=\"{http://www.columbasystems.com/customers/uom/gpp/eventid/}ia0-jik9p56t-o8r0hr\">even:ia0-jik9p56t-o8r0hr</ns:id><ns:title>Technical
          tours of the Martin Harris Centre for Music and Drama</ns:title><ns:description>Since
          it opened in 2003, the Centre has contributed to the cultural life of students,
          staff, alumni and the wider community. It hosts new and emerging artists,
          as well as more established, internationally renowned figures.\nThe Centre
          offers a varied programme of arts events, many of which are free, in order
          to educate, stimulate and engage audiences, as well as provide memorable and
          inspirational experiences. Events are open to the public and include concerts,
          theatre productions, literature and spoken word events, seminars and lectures.\nIt
          incorporates two major performance spaces: the 350-seat Cosmo Rodewald Concert
          Hall and the John Thaw Studio Theatre, which can accommodate approximately
          100 people, and an electroacoustic music studio.\n\nPlease book on eventbrite:\n\nhttps://www.eventbrite.co.uk/e/martin-harris-centre-workplace-tour-team-tickets-46709742096\n</ns:description><ns:status>confirmed</ns:status><ns:type>Higher
          Education</ns:type><ns:times type=\"GMT\"><ns:start tz=\"GMT\"><ns:date>2018-07-04</ns:date><ns:time>09:00:00</ns:time></ns:start><ns:end
          tz=\"GMT\"><ns:date>2018-07-04</ns:date><ns:time>10:00:00</ns:time></ns:end></ns:times><ns:times
          type=\"local\"><ns:start tz=\"Europe__London-D60\"><ns:date>2018-07-04</ns:date><ns:time>10:00:00</ns:time></ns:start><ns:end
          tz=\"Europe__London-D60\"><ns:date>2018-07-04</ns:date><ns:time>11:00:00</ns:time></ns:end></ns:times><ns:times
          type=\"user\"><ns:start tz=\"Europe__London-D60\"><ns:date>2018-07-04</ns:date><ns:time>10:00:00</ns:time></ns:start><ns:end
          tz=\"Europe__London-D60\"><ns:date>2018-07-04</ns:date><ns:time>11:00:00</ns:time></ns:end></ns:times><ns:eventData><uom:data
          xmlns:uom=\"http://www.columbasystems.com/customers/uom/xml/details/2-0/\"><uom:contact><gpp:name
          xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\">TEaM
          (Technical Excellence at Manchester)</gpp:name><gpp:email xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\">technical.excellence@manchester.ac.uk</gpp:email></uom:contact><uom:eventInfo><uom:eventInfo
          xmlns:code=\"http://www.columbasystems.com/customers/uom/gpp/tag/\" xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          gpp:code=\"code:info-booking\" gpp:name=\"Booking\"/><uom:eventInfo xmlns:code=\"http://www.columbasystems.com/customers/uom/gpp/tag/\"
          xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          gpp:code=\"code:info-free\" gpp:name=\"Free\"/><uom:eventInfo xmlns:code=\"http://www.columbasystems.com/customers/uom/gpp/tag/\"
          xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          gpp:code=\"code:info-wheelchair\" gpp:name=\"Wheelchair Accessible\"/></uom:eventInfo><uom:eventType
          xmlns:code=\"http://www.columbasystems.com/customers/uom/gpp/tag/\" xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          gpp:code=\"code:campus_visits\" gpp:name=\"Campus visit/tour\"/><uom:featuredEvent/><uom:links><gpp:link
          xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          gpp:href=\"https://www.eventbrite.co.uk/e/martin-harris-centre-workplace-tour-team-tickets-46709742096\">Eventrbrite
          booking</gpp:link></uom:links><uom:location xmlns:code=\"http://www.columbasystems.com/customers/uom/gpp/tag/\"
          xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          gpp:name=\"Martin Harris Centre for Music and Drama\" gpp:refloc=\"code:building-42\"><gpp:building>Martin
          Harris Centre for Music and Drama</gpp:building><gpp:city>Manchester</gpp:city><ns1:country
          xmlns:ns1=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          ns1:code=\"code:GB\" ns1:name=\"United Kingdom\"><ns1:name>United Kingdom</ns1:name><ns1:iso2>GB</ns1:iso2><ns1:iso3>GBR</ns1:iso3><ns1:columbaCode
          xmlns:ref=\"http://www.columbasystems.com/xml/cscs/codes/1.0/\">ref:T1265</ns1:columbaCode></ns1:country><gpp:geoLocation><gpp:point>POINT(53.465748
          -2.235889)</gpp:point><gpp:zoom>15</gpp:zoom></gpp:geoLocation></uom:location><uom:organiser
          xmlns:code=\"http://www.columbasystems.com/customers/uom/gpp/tag/\" xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          gpp:code=\"code:martin_harris_centre\" gpp:name=\"Martin Harris Centre\"/><uom:price>Free</uom:price><uom:publishingTargets><uom:publishingTargets
          xmlns:code=\"http://www.columbasystems.com/customers/uom/gpp/tag/\" xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          gpp:code=\"code:pub-staffnet\" gpp:name=\"StaffNet\"/></uom:publishingTargets><uom:targetAudience><uom:targetAudience
          xmlns:code=\"http://www.columbasystems.com/customers/uom/gpp/tag/\" xmlns:gpp=\"http://www.columbasystems.com/customers/gpp/xml/details/1-0/\"
          gpp:code=\"code:staff\" gpp:name=\"University staff\"/></uom:targetAudience></uom:data></ns:eventData></ns:event><ns:event><ns:id
          xmlns:even=\"http://www.columbasystems.com/customers/uom/gpp/eventid/\" query=\"{http://www.columbasystems.com/customers/uom/gpp/eventid/}ra1-jik9ptmt-st6owt\">even:ra1-jik9ptmt[...]
[...]
