@import "variables_mixins";

.full_width_action {
	background-color: $base-secondary;
	border-radius: 1.11rem;
	padding: 3rem 1rem;
}

.full_width_action--blue {
	background-color: $home-blue;
}

.full_width_action--cream {
	background-color: $home-background-3;
}

.full_width_action--green {
	background-color: $home-green;
}

.full_width_action--red {
	background-color: $base-secondary;
}

.full_width_action__title {
	font-size: 1.8rem;
	font-weight: 400;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
	text-align: center;
	@include for-tablet-portrait-up {
		font-size: 2.2rem;
	}
}

.full_width_action__content {
	font-size: 1rem;
	margin: 0 auto 0 auto;
	margin-bottom: 3rem;
	text-align: center;
}

.full_width_action__btn {
	width: max-content;
	margin: 0 auto 0 auto;
}
