<% if properties[:object].errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(properties[:object].errors.count, "error") %> prohibited this <%= properties[:object].class.name %> from being saved:</h2>
	  <ul>
		  <% properties[:object].errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		  <% end %>
	  </ul>
	</div>
<% end %>