@import "variables_mixins"

.header
  +flexbox
  +align-items(center)
  +justify-content(space-between)
  +flex-wrap(wrap)
  +for-tablet-landscape-up
    padding: 1rem $page-margin

  h2
    margin-bottom: 0

  &__branding
    +order(1)
    margin: 1rem 0 1rem 1rem
    +for-tablet-landscape-up
      margin-left: 0
    text-indent: -9999px
    background-image: image-url('logo.png')
    width: 187px 
    height: 55px
    background-size: 187px 55px

  &__menu
    +order(3)
    width: 100%
    +for-phone-only
      &.is-hidden
        display: none
    +for-tablet-portrait-up
      +flex(1 1 100%)
    +for-tablet-landscape-up
      +flex(0 1 auto)      
      width: auto
    ul
      +flexbox
      +flex-wrap(wrap)
      width: 100%  
      margin: 0
      padding: 0
      +for-tablet-portrait-up
        +justify-content(center)
      +for-tablet-landscape-up
        width: auto
        margin-right: 1rem
    li
      +flex(1 1 100%)
      text-align: center
      list-style-type: none
      background-color: $grey
      +for-phone-only
        border-bottom-width: 4px
        border-bottom-color: $almond
        border-bottom-style: solid
        &:hover
          background-color: $red
      +for-tablet-portrait-up
        +flex(1 1 auto)
      +for-tablet-landscape-up
        +flex(0 1 auto)
        background-color: transparent
        margin-left: 2rem
    a
      font-size: $h3-size
      font-weight: $extra-bold
      letter-spacing: $title-letter-spacing
      display: inline-block
      padding: 1rem 0
      text-transform: uppercase
      color: $cream
      width: 100%
      border-bottom-width: 0
      &:hover
        color: $grey
      +for-tablet-portrait-up
        font-size: 1rem
        width: auto
        &:hover, &:active
          color: $cream
          border-width: 0 0 4px 0
          border-color: $green
          border-style: solid
          padding-bottom: 0.1em
      +for-tablet-landscape-up
        color: $grey
        &:hover, &:active
          color: $grey
  
  &__toggle
    +order(2)
    +for-tablet-portrait-up
      display: none
    border-width: 0
    margin-right: 1rem
    line-height: 1
    svg
      width: 33px
      height: 31px
      fill: $red