---
http_interactions:
  - request:
      method: get
      uri: https://api.tickettailor.com/v1/events?limit=100&status=published
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Basic FILTERED
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Rate-Limit-Limit:
          - "10000"
        X-Rate-Limit-Remaining:
          - "9997"
        X-Rate-Limit-Reset:
          - "1350"
      body:
        encoding: ASCII-8BIT
        string:
          '{"data":[{"object":"event","id":"ev_4668136","access_code":null,"available_status":null,"bundles":[],"call_to_action":"Register","checkout_url":"https://www.tickettailor.com/checkout/view-event/id/4668136/chk/0252/","chk":"0252","created_at":1727200787,"currency":"gbp","description":"\u003Cp
          dir=\u0022ltr\u0022\u003E\u003Cspan style=\u0022color:rgb(0,0,0);\u0022\u003EInclusive
          11s is by and for people of marginalised gender identities, including trans
          and non-binary people and all women\u003Cstrong\u003E.\u003C/strong\u003E\u003Cbr
          /\u003E\u003C/span\u003E\u003C/p\u003E\n\u003Cp dir=\u0022ltr\u0022\u003E\u003Cspan
          style=\u0022color:rgb(0,0,0);\u0022\u003EOur mission is to create gender-inclusive
          spaces for amateur [...]
