<h1 class="page-header"><%= title %></h1>

<%- model_name = model.to_s.chop.humanize %>

<%- if policy(model_name.constantize).create? && defined?(new_link) %>
  <%= link_to "Add New #{model_name}", new_link, data: { turbolinks: false }, class: "btn btn-primary mb-3" %>
<% end %>

<table class="table table-striped" id="datatable" data-source="<%= source %>">
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= column %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
