<div class="pullquote">
  <blockquote class="blockquote--<%= @color_mode%>">
    <p class="alt-title-small"><%= content %></p>
  </blockquote>
  <cite>
    <strong class="h3-small"><%= @source %></strong>
    <span class="small"><%= @context %></cite>
  </cite>
</div>