<article class="home margin">
  <div class="card card--plainer">
    <h1 class="center fc-primary">Forgot your password?</h1>
    <p class="center">
      Enter the email address associated with your PlaceCal account and we will send you an email with password reset instructions.
    </p>
    <br>
    <div class="centre form--login">
      <%= form_for(resource, as: resource_name,
                            url: password_path(resource_name),
                            html: { method: :post, class: 'form', data: { turbo: 'false' } }) do |f| %>

      <div class="form__field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn--big btn--home-3" %>
      </div>
      <% end %>
      <br>
    </div>
  </div>
</article>
