.btn
  display: inline-block
  border-color: $green
  border-width: 2px
  border-style: solid
  border-radius: 3rem
  padding: 0.4rem 1.2rem
  text-align: center
  font-weight: $bold
  &--lg
    background-color: $green
    border-color: $cream
    border-width: 3px
    padding: 0.65rem 1.2rem
    // Needs a little space to compensate for the box shadow
    margin-bottom: 0.5rem
    margin-right: 0.5rem
    box-shadow: 0 0 0 2px $green
  &--active, &:hover
    background-color: $green
  &--lg.btn--active, &--lg:hover
    color: $cream
    background-color: $grey
    box-shadow: 0 0 0 2px $grey