// Max width inside: 1070
// columns: 186
// gutters: 20 + 1/2 gutter inside and out
// $gutter / $max-width * 100
$gutter: 1.86915%;

// $column / $max-width * 100
$column: 17.38317%;

// Grid class - a bit over abbreviated, apols!
.g {
	@include flexbox;
	@include flex-wrap(wrap);
	@include for-tablet-landscape-up {
		@include flex-wrap(nowrap);
	}

	@include align-content(flex-start);

	h1 {
		margin-bottom: 0.25rem;
	}

	&--place {
		margin-top: 2rem;
		margin-bottom: 2rem;

		h1 {
			margin-top: 0;
		}
	}

	&--place-list {
		h2 {
			margin-bottom: 0rem;
		}

		h3 {
			margin-top: 0;
		}
	}
}

.gi {
	margin-right: 1.11111rem;

	&:last-of-type {
		margin-right: 0;
	}

	@include flex(1 1 100%);
	@include for-tablet-portrait-up {
		&__1-2 {
			@include flex(0 1 50%);
		}

		&__1-3 {
			@include flex(0 1 46%);
		}

		&__1-5 {
			@include flex(0 1 30%);
		}
	}

	@include for-tablet-landscape-up {
		&__1-5 {
			@include flex(0 1 20%);
		}

		&__2-5 {
			@include flex(0 1 40%);
		}

		&__3-5 {
			@include flex(0 1 60%);
		}
	}

	@include for-print {
		&__1-3 {
			@include flex(0 1 30%);
		}
	}

	&__image {
		text-align: center;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		img {
			max-width: 100%;
		}

		@include for-print {
			display: none;
		}
	}
}

.two-col {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-webkit-column-width: 20rem;
	-moz-column-width: 20rem;
	column-width: 20rem;
	margin-top: 1.35rem !important;

	li:first-of-type {
		margin-top: -1.35rem;
	}

	a {
		display: inline-block;
	}
}

.three-col {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	-webkit-column-width: 20rem;
	-moz-column-width: 20rem;
	column-width: 20rem;
	margin-top: 1.35rem !important;

	li:first-of-type {
		margin-top: -1.35rem;
	}

	a {
		display: inline-block;
	}
}

@supports (display: grid) {
	.two-col {
		display: grid;
		grid-template-columns: 1fr;

		@include for-tablet-landscape-up {
			grid-template-columns: 1fr 1fr;
		}

		grid-gap: 1rem;
		align-items: start;

		li:first-of-type {
			margin-top: 0;
		}
	}

	.three-col {
		display: grid;
		grid-template-columns: 1fr;

		@include for-tablet-landscape-up {
			grid-template-columns: 1fr 1fr 1fr;
		}

		grid-gap: 1rem;
		align-items: start;

		li:first-of-type {
			margin-top: 0;
		}
	}

	.g--partner {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "main" "right";

		@include for-tablet-landscape-up {
			grid-template-columns: 6fr 1fr 5fr;
			grid-template-areas: "main gutter right";
		}

		.gi__3-5 {
			grid-area: main;
		}

		.gi__2-5 {
			grid-area: right;
		}
	}
}

// Beginning of refactor in CSS grid
.gr {
	display: grid;
	grid-gap: 1.11111rem;
	grid-template-columns: 1fr;

	&--3 {
		@include for-tablet-portrait-up {
			grid-template-columns: 1fr 1fr;
		}

		@include for-desktop-up {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
