@font-face {
	font-family: "placecal-icons";
	src: url("fontello/font/placecal-icons.eot?12555807");
	src:
		url("fontello/font/placecal-icons.eot?12555807#iefix")
			format("embedded-opentype"),
		url("fontello/font/placecal-icons.woff2?12555807") format("woff2"),
		url("fontello/font/placecal-icons.woff?12555807") format("woff"),
		url("fontello/font/placecal-icons.ttf?12555807") format("truetype"),
		url("fontello/font/placecal-icons.svg?12555807#placecal-icons")
			format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'placecal-icons';
    src: url('../font/placecal-icons.svg?12555807#placecal-icons') format('svg');
  }
}
*/
[class^="icon-font"]:before,
[class*=" icon-font"]:before {
	font-family: "placecal-icons";
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1;

	font-size: 175%;
	vertical-align: middle;
	color: $base-secondary;
	color: var(--base-secondary);

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
