// TODO: delete as part of https://github.com/geeksforsocialchange/PlaceCal/issues/2517

/*
	used by inline svgs in
	- app/components/computer_access.html.erb
	- app/components/help_adding_events.html.erb
	- app/components/help_getting_help.html.erb
	- app/components/navigation_component.html.erb
*/
.svg {
	&__background {
		fill: $base-rules;
		fill: var(--base-rules);
	}

	&__primary {
		fill: $base-secondary;
		fill: var(--base-secondary);
	}

	&__secondary {
		fill: $base-text;
		fill: var(--base-text);
	}
}
