@import "variables_mixins";

.map {
	.leaflet-container,
	.leaflet-popup-content {
		font-family: $sans-serif;

		a {
			color: $base-text;
			font-size: 0.9rem;
		}
	}

	&--compact {
		height: 330px;
	}

	&--single {
		border: 5px solid $base-rules;
		border-color: var(--base-rules);
		border-radius: 1rem;
		overflow: hidden;
		z-index: 0;
	}

	&--multiple {
		height: 500px;
		border-top-width: 10px;
		border-top-color: $base-map-stripe-second;
		border-top-color: var(--base-map-stripe-second);
		border-top-style: solid;
		box-shadow: 0 -10px 0 0 $base-tertiary;
		box-shadow: 0 -10px 0 0 var(--base-tertiary);
	}

	// .leaflet-marker-icon
	//   width: 28px * 1.5 !important
	//   height: 36px * 1.5 !important
}
