html
  font-size: 18px
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit

body
  font-family: $sans-serif
  font-weight: $regular
  color: $grey

// Large titles at the top of the page
h1
  font-family: $serif
  font-weight: normal
  font-size: 2.22222rem // 40px

h1.sans
  font-family: $sans-serif
  font-weight: $bold

// Main page sections
h2, .h2
  +h2

.h2--alt
  text-transform: uppercase
  text-align: center
  font-weight: $extra-bold
  font-size: $base-font-size
  margin-top: 3rem
  margin-bottom: 3rem
  span
    padding-bottom: 0.5rem
    border-bottom: 4px solid $red

h3, .h3
  +h3

h4, .h4
  +h4

.allcaps
  text-transform: uppercase
  font-weight: $extra-bold
  letter-spacing: $title-letter-spacing

.small
  font-size: $small-font-size

.center
  text-align: center

.udl
  padding-bottom: 0.5rem
  border-bottom: 3px solid $linen
  display: inline-block
  &--red
    border-bottom-color: $red
  &--fw
    display: block

a
  text-decoration: none
  color: $grey
  border-width: 0 0 2px 0
  border-style: solid
  border-color: $green

hr
  border-color: $linen
  border-width: 5px
  border-style: solid

.p--big
  font-size: 1.5rem

.first-ele-lg p:first-child
  font-size: $h3-size

// TODO: refactor
h2.place__title
  margin-bottom: 0.5rem

.two-col
  -moz-column-count: 2
  -webkit-column-count: 2
  column-count: 2
  -webkit-column-width: 20rem
  -moz-column-width: 20rem
  column-width: 20rem
  margin-top: 1.35rem !important
  li:first-of-type
    margin-top: -1.35rem
  a
    display: inline-block

.url a
  word-wrap: break-word