html
  font-size: 18px
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  font-family: $sans-serif
  font-weight: $regular
  color: $grey
  line-height: 1.5

// Large titles at the top of the page
h1
  font-family: $serif
  font-weight: normal
  font-size: 2.22222rem // 40px
  line-height: 1
  +for-tablet-portrait-up
    line-height: 1.25

h1.sans
  font-family: $sans-serif
  font-weight: $bold

// Main page sections
h2, .h2
  +h2

.h2--alt
  text-transform: uppercase
  text-align: center
  font-weight: $extra-bold
  font-size: $base-font-size
  letter-spacing: $title-letter-spacing
  span
    padding-bottom: 0.5rem
    border-bottom: 4px solid $red

h3, .h3
  +h3

.h35
  +h35

h4, .h4
  +h4

.allcaps
  text-transform: uppercase
  font-weight: $extra-bold
  letter-spacing: $title-letter-spacing

.title-strip
  background-color: $linen
  padding: 0.5rem 0
  margin: 3rem 0

.slightly-smaller
  font-size: 0.8888889rem // 16px

.small
  font-size: $small-font-size
  line-height: 1.5

.center
  text-align: center

.serif
  font-family: $serif
  font-weight: normal

h2.serif
  font-size: 1.4444444rem

.udl
  padding-bottom: 0.5rem
  border-bottom: 3px solid $linen
  display: inline-block
  text-decoration: none
  &--red
    border-bottom-color: $red
  &--fw
    display: block

a
  // text-decoration: none
  text-decoration-color: $green
  color: $grey
  // border-width: 0 0 2px 0
  // border-style: solid
  // border-color: $green

hr
  border-color: $linen
  border-width: 5px
  border-style: solid

// Make the first paragraph in a section bigger
.p--big, .first-ele-lg p:first-child
  font-size: $h3-size
  line-height: 1.3

// Alternate one for region home pages
.first-ele-h3-serif p:first-child
  font-size: $h3-size
  font-family: $serif
  margin-top: 0

.p--mega
  font-size: $h3-size
  +for-tablet-portrait-up
    font-size: $h2-size
    line-height: 1.25
  font-family: $serif
  font-weight: normal

.space-big
  margin-top: 3rem
  margin-bottom: 3rem

.space-before
  margin-top: 2rem

// TODO: refactor
h2.place__title
  margin-bottom: 0.5rem

.two-col
  -moz-column-count: 2
  -webkit-column-count: 2
  column-count: 2
  -webkit-column-width: 20rem
  -moz-column-width: 20rem
  column-width: 20rem
  margin-top: 1.35rem !important
  li:first-of-type
    margin-top: -1.35rem
  a
    display: inline-block

.url a
  word-wrap: break-word
