<% if (points || []).length > 0 -%>
  <div id="js-map-outer" class="map" data-controller="leaflet" data-leaflet-args-value='<%= args_for_map(points, site, local_assigns[:style], local_assigns[:compact]) %>'></div>
<% end -%>
