<script>
var columns = [
    {"data": "id"},
    {"data": "name"},
    {"data": "unit_name"},
    {"data": "unit_code_key"},
    {"data": "unit_code_value"},
    {"data": "release_date"},
  ]
</script>

<%= render partial: "layouts/admin/datatable", locals: {
    title: "Neighbourhoods",
    model: :neighbourhoods,
    column_titles: ['ID', 'Our name', 'Official name', 'Official key', 'Official value', 'Release date'],
    columns: %i[id name unit_name unit_code_key unit_code_value release_date],
    data: @neighbourhoods.limit(15),
    source: admin_neighbourhoods_path(format: :json)
  }
%>

<h2>Neighbourhood Roots</h2>

<% Neighbourhood.roots.order(:name).each do |root| %>
<p><%= link_to safe_neighbourhood_name(root), admin_neighbourhood_path(root) %></p>
<% end %>

