<% if page? %>
  <%= render_component "hero", title: properties[:name], subtitle: properties[:address] %>
<% else %>
  <h3><%= link_to properties[:name], place_path(properties[:id]) %></h3>
<% end %>
