<% if page? %>
  <h1><%= properties[:name] %></h1>
  <p><%= properties[:short_description] %></p>
  <p><%= properties[:address] %></p>
<% else %>
  <h3><%= link_to properties[:name], place_path(properties[:id]) %></h3>
<% end %>
