<div class="help help__getting_online">
  <%= image_tag "icons/help/getting-online.svg" %>
  <h3 class="h2--alt"><span>Getting Online</span></h3>
  <p>Computer access is available in the following places:</p>
  <% if locations.any? %>
    <ul>
      <% locations.each do |location| %>
        <li><%= link_to location.name, place_url(location) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Information about getting online coming soon.</p>
  <% end %>
</div>
