<%= render_component "hero", title: "Events in Hulme & Moss Side",
                             subtitle: "The Community Calendar" %>
                             
<div class="c c--lg-space-after">
  <%= render_component "event_list", 
    events: @events,
    pointer: @current_day,
    period: @period,
    sort: @sort,
    repeating: @repeating
  %>
</div>

<div class="c c--narrow c--space-after">
  <%= link_to 'Subscribe with iCal', events_url(protocol: :webcal, format: :ics) %>
</div>