<% content_for :title, "Events & activities in your area" %>

<%= render_component "hero", title: 'Events & activities in your area',
                             subtitle: @site.tagline %>

<div class="c c--lg-space-after">
  <%= render_component "event_list",
    neighbourhood_id: @neighbourhood_id,
    events: @events,
    pointer: @current_day,
    period: @period,
    sort: @sort,
    repeating: @repeating
  %>
</div>

<%= render_component "meta" do %>
  <%= link_to "Subscribe to #{@title} with iCal", events_url(protocol: :webcal, format: :ics) %>
<% end %>
