<% content_for :title, "Events" %>
<% content_for :image, @site.og_image %>
<% content_for :description, @site.og_description %>

<%= render(HeroComponent.new("Events & activities", @site.tagline)) %>

<div class="c c--lg-space-after">
  <%= render(EventsBrowserComponent.new(
    events: @events,
    current_day: @current_day,
    period: @period,
    sort: @sort,
    repeating: @repeating,
    site: @site,
    next_date: @next_date,
    primary_neighbourhood: @primary_neighbourhood,
    show_neighbourhoods: @current_site.show_neighbourhoods?,
    badge_zoom_level: @current_site.badge_zoom_level,
    site_tagline: @site.tagline
  )) %>
</div>

<%= render(Meta.new('/hello/world')) do |component| %>
  <% component.with_link do %>
    <%= link_to "Subscribe to #{@title} with iCal", events_url(protocol: :webcal, format: :ics) %>
  <% end %>
<% end %>
