<% content_for :title, "Events" %>
<% content_for :image, @site.hero_image.opengraph.url if @site.hero_image %>

<%= render_component "hero", title: 'Events & activities',
                             subtitle: @site.tagline %>

<div class="c c--lg-space-after">
  <%= render_component "event_list",
    events: @events,
    pointer: @current_day,
    period: @period,
    sort: @sort,
    repeating: @repeating
  %>
</div>

<%= render_component "meta" do %>
  <%= link_to "Subscribe to #{@title} with iCal", events_url(protocol: :webcal, format: :ics) %>
<% end %>
