<p id="notice"><%= notice %></p>

<%= render_component "event", context: :page,
                              id: @event.id,
                              summary: @event.summary,
                              description: @event.description,
                              dtstart: @event.dtstart,
                              dtend: @event.dtend,
                              place: @event.place,
                              location: @event.location %>

<%= link_to 'Back', events_path %>
