<div class="c">
  <%= render_component "event", context: :page,
                                id: @event.id,
                                summary: @event.summary,
                                description: @event.description,
                                dtstart: @event.dtstart,
                                dtend: @event.dtend,
                                rrule: @event.rrule,
                                place: @event.place,
                                location: @event.location %>
  
  <% if @event.place %>
    <h2>Location</h2>
    <%= render_component "place", context: :event_page,
                                  id: @event.place.id,
                                  name: @event.place.name,
                                  description: @event.place.short_description,
                                  address: @event.place.address %>
  <% end %>

</div>  