<% content_for :title, "News from your area" %>

<%= render_component "hero", title: 'News from your area', subtitle: @site.tagline %>

<div class="c c--lg-space-after">
<% @articles.each do |article| -%>
  <div class='article'>
    <%= link_to article.title, news_path(article) %>
    <p>Published <%= time_ago_in_words(article.published_at) %> ago.</p>
    <% if article.partners.present? %>
      <p>From <%= article_partner_links(article) %>.</p>
    <% end %>
  </div>
<% end -%>
