<h1>Calendar Importer Status</h1>

<p>Currently have <%= @job_count %> jobs</p>

<% states = %w[idle in_queue in_worker error] -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>State</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% states.each do |state_name| -%>
      <tr>
        <td><%= state_name %></td>
        <td><%= @calendar_counts[state_name] || 0 %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<!-- pre>
<% #= JSON.pretty_generate(@calendar_counts) %>
</pre -->
