<div class="max-w-xl">
  <div class="form-control">
    <label class="label">
      <span class="label-text font-medium">Calendar URL</span>
    </label>
    <input type="url" class="input input-bordered" placeholder="https://...">
    <label class="label">
      <span class="label-text-alt text-base-content/60">Enter the URL of your calendar feed</span>
    </label>
  </div>
</div>
