<div class="card card--alt center card--learn-how">
  <h2 class="fc-text">Set up PlaceCal in your community</h2>
  <%= link_to "Get in touch", get_in_touch_path, class: 'btn btn--big btn--home-2' %>
</div>
