<div class="card card--alt center card--learn-how">
  <h2 class="fc-text">Learn how you can get PlaceCal</h2>
  <%= link_to "Get in touch today", join_path, class: 'btn btn--big btn--home-2' %>
</div>
