<!-- RESULTS -->
<div class="card card--plain card--split">
  <div class="card__title center">
    <h2>The results from our pilot scheme</h2>
  </div>
  <div class="card__body">
    <table class="stats">
      <colgroup>
          <col class="stats__col--labels">
          <col class="stats__col--placecal">
          <col class="stats__col--council">
          <col class="stats__col--health">
      </colgroup>
      <thead>
        <tr>
          <td></td>
          <td>PlaceCal</td>
          <td>Local council</td>
          <td>Health service</td>
        </tr>
      </thead>
      <tbody>
        <tr class="stats__stripe">
          <td>Events per week</td>
          <td>240</td>
          <td>10</td>
          <td>0</td>
        </tr>
        <tr class="stats__stripe">
          <td>Accuracy of information</td>
          <td>98%</td>
          <td>50%</td>
          <td>65%</td>
        </tr>
        <tr>
          <td></td>
          <td>Staff changeover created some minor issues</td>
          <td>Included data from non local areas</td>
          <td>Content delivered as a pdf so is often out of date</td>
        </tr>
        <tr class="stats__stripe">
          <td>Services listed</td>
          <td>High</td>
          <td>Medium</td>
          <td>Low</td>
        </tr>
        <tr>
          <td></td>
          <td>Thorough descriptions, good contact information</td>
          <td>Unclear descriptions, good contact information</td>
          <td>No descriptions, partial contact information</td>
        </tr>
        <tr class="stats__stripe">
          <td>Accessibility & <acronym name="User Experience">UX</acronym></td>
          <td>
            <ul>
              <li>Responsive website</li>
              <li>Co-designed with older people</li>
              <li>Print outputs</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Menu unclear</li>
              <li>Hard to read &amp; access</li>
              <li>Very slow</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>No website</li>
              <li>Provided as PDF</li>
            </ul>
          </td>
        </tr>
        <tr class="stats__stripe">
          <td>Frequency of updates</td>
          <td>24/7</td>
          <td>???</td>
          <td>???</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="center"><strong>Note:</strong>Information is an approximation based on observations during our pilot in Hulme and Moss Side.</p>
  <br>
</div>
