<%= render_component "hero", title: "Hulme & Moss Side Bus Service", subtitle: "The PlaceBus" %>

<div class="c c--narrow">
  <p class="p--mega center">A new community bus will run Monday &ndash; Sunday from 26<sup>th</sup> March.</p>
</div>


<div class="c c--narrow">
  <div class="route">

    <div class="route__time">
      <div class="route__time--alt"></div>
    </div>

    <ul class="route__stops">
      <li>
        <div class="stop__name"></div>
        <div class="stop__street"></div>
      </li>
      <li>
        <div class="stop__name"></div>
        <div class="stop__street"></div>
      </li>
      <li>
        <div class="stop__name"></div>
        <div class="stop__street"></div>
      </li>
      <li>
        <div class="stop__name"></div>
        <div class="stop__street"></div>
      </li>            
    </ul>

  </div>

  <div class="route">

    <div class="route__time">
      <div class="route__time--alt"></div>
    </div>

    <ul class="route__stops">
      <li>
        <div class="stop__name"></div>
        <div class="stop__street"></div>
      </li>
      <li>
        <div class="stop__name"></div>
        <div class="stop__street"></div>
      </li>
      <li>
        <div class="stop__name"></div>
        <div class="stop__street"></div>
      </li>
      <li>
        <div class="stop__name"></div>
        <div class="stop__street"></div>
      </li>            
    </ul>

  </div>

  <div class="roundel">
    <div class="roundel__main">£</div> <div class="roundel__sub">per round trip</div>
  </div>

</div>