<%= render_component "hero", title: "Hulme & Moss Side Bus Service", subtitle: "The PlaceBus" %>

<div class="c c--narrow">
  <p class="p--mega center">Unfortunately, our community bus is no longer running.</p>
  <p>More info on a replacement soon. Page kept up for posterity!</p>
</div>


<div class="c">

  <% stops = [
               ['New Hope Fellowship Church', 'Tatton St'],
               ['Moss Side Leisure Centre & Asda', 'Hulme High St'],
               ['Powerhouse Library', 'Raby St'],
               ['Hough End Leisure Centre', 'Princess Rd']
             ]
  %>

  <div class="routes">
    <%= render_component "bus_route",
      time: '10:30am out',
      time_alt: '(12:30pm Sun)',
      stops: stops
    %>

    <%= render_component "bus_route",
      time: '1:30pm return',
      time_alt: '(4:00pm Sun)',
      stops: stops.reverse
    %>
  </div>

  <div class="roundel">
    <div class="roundel__text">
      £1
      <div class="roundel__sub h4 small">per round trip</div>
    </div>
  </div>

  <p class="center h35">
    Any questions email us at <a href="mailto:bus@placecal.org">bus@placecal.org</a><br> or call us on <a href="tel:+441612279662">0161 227 9662</a>.
  </p>

</div>
