
<article class="home">
  <div class="margin">
    <div class="card card--first center">
      <h1 class="section">Find your PlaceCal</h1>
      <p class="alt-title-small">Here's a list of all PlaceCal instances, organised by interest and location.</p>
    </div>
    <div class="featured_partnerships">
      <h3 class="featured_partnerships--title">Curated Calendars</h3>
      <ul class="four_col_grid--larger">
        <% @partnerships.each do |site| %>
          <%= render(Components::PartnershipCard.new(site: site)) %>
        <% end %>
      </ul>
    </div>
    <div class="container-with-header">
      <div class="container-with-header__head container-with-header__head--green">
        <h3 class="container-with-header__title">Place-based calendars</h3>
      </div>
      <div class="container-with-header__body">
        <ul class="four_col_grid">
          <% @neighbourhoods.each do |site| %>
            <%= render(Components::NeighbourhoodHomeCard.new(site: site)) %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card card--alt center card--learn-how">
      <h2 class="fc-text">Set up PlaceCal in your community</h2>
      <%= link_to "Get in touch", get_in_touch_path, class: 'btn btn--big btn--home-2' %>
    </div>
  </div>
</article>
