<article class="home">
  <div class="margin">
    <div class="pullquote">
      <blockquote>
        <p class="alt-title-small">People are saying they’re bored and there’s nothing to do – with this much on that’s mad isn’t it!</p>
      </blockquote>
      <cite>
        <strong class="h3-small">Catherine</strong>
        <span class="small">Participant at a supported IT session for older residents</cite>
      </cite>
    </div>
  </div>
</article>
