<%= render_component "hero", title: "Welcome to PlaceCal", subtitle: "The Community Calendar" %>

<div class="c">
  <h2>What it is / Who we are</h2>
  
  <p>PlaceCal is a community events calendar where you can find out everything that's happening near you, all in one place. It's designed to help people find out about the small local events that can be hard to discover: the coffee mornings, sewing groups, computer classes and gardening groups that might be just around the corner.</p>
  
  <p>PlaceCal is a website: but it's also a conduit for event information that's turned into posters, flyers, brochures, and hopefully local TV and radio broadcasts. We think that by getting everyone to work together to make one really useful source of information and publishing it in a variety of formats, we can make stronger, more connected and more resilient communities that people of all ages and abilities can enjoy.</p>
  
  <p>PlaceCal is building a partnership of local organisations, charities, social housing providers, government services, health providers, and residents just like you. Together we are working to improve the quality, quantity and accessibility of community data to make better connected neighbourhoods that work for everyone. </p>
  
  <p>PlaceCal was designed by Geeks for Social Change and PHASE@MMU as a community intervention to reduce social isolation for older people, and is based on our world-leading research into Age Friendly Cities. We won funding from CityVerve (Manchester City Council's technology accelerator) to make a prototype in Hulme &amp; Moss Side. We are currently seeking investors and partners to help roll PlaceCal out to other neighbourhoods.</p>
  
  <h2>How it works / How it was created</h2>
  
  <p>PlaceCal is one of the first Community Technology Partnerships (CTPs). CTPs have three components: partnership building and strategy; support and training; and technology and information. Their goal is to create high quality data, services, support and training for people with lower social capital. </p>
  
  <p>Each CTP builds on existing community partnerships, and combines academic and technical expertise with community groups' local knowledge, in order to understand and take action in a specific area. From this partnership we work together to identify problems and co-design and deliver solutions.</p>
  
  <p>PlaceCal came from a discovery in our Age Friendly research that older people generally think there is nothing to do in their neighbourhoods. We created an initial events calendar ourselves which we distributed around partnership members, eventually finding there were dozens of events almost every day. We found that organisations lacked support, training and knowledge to promote their events through any means other than word of mouth, for the most part.</p>
  
  <p>We then interviewed groups directly about what events they put on, who they are for, and what (if any) technical capacity and capability they had. We found most groups were really struggling to maintain a basic web presence, had little or no interest in social media sites like Twitter, Facebook and Eventbrite as their members generally don't use them. We also found that most people were using calendar software for some part of their organisation, but that this information was either private, incomplete, or rarely updated.</p>
  
  <p>We realised that anything we built had to work based on existing  capacity. PlaceCal was therefore conceived of in the simplest terms as an aggregator that would bring together feeds automatically from Google Calendar, Outlook 365 or Facebook, for example. Whatever people were already using and paying for -- and in the case of larger organisations paying for support for -- we needed to support them to use effectively. We therefore developed a training and support plan based on this seemingly simple proposition: aiding community groups to publish high quality event information using existing software.</p>
  
  <p>The final piece of the puzzle is the PlaceCal website itself. The training, support and strategy was about making high quality information sources exist; the website brings them all together in an easily digestible, simple format for all ages. Together, these three elements create a strong and resilient platform that's open and innovative, changing the way that people think about cooperative information publishing.</p>
</div>  