<%= render_component "hero", title: "Join PlaceCal", subtitle: "Hulme & Moss Side" %>

<div class="c c--narrow c--lg-space-after">
  <h2 class="h2--alt">
    <span>Join us</span>
  </h2>
  <p class="p--big">Want to get involved? Give us a bell using the information in the footer.</p>
  <p>More information coming soon!</p>
  <p>Or are you looking for the <a href="https://handbook.placecal.org">PlaceCal Handbook WIP</a>?</p>
</div>  