<%= render_component "hero", title: "Join PlaceCal", subtitle: "Hulme & Moss Side" %>

<div class="c c--lg-space-after">
  <p>Want to get involved? Give us a bell using the information in the footer.</p>
  <p>More information coming soon!</p>
  <p><a href="https://handbook.placecal.org">PlaceCal Handbook</a>.</p>
</div>  