<%= render_component "hero", title: "Join PlaceCal", subtitle: "Hulme & Moss Side" %>

<div class="c">
  <p><a href="https://handbook.placecal.org">PlaceCal Handbook</a>.</p>

  <p>More coming soon!</p>
</div>  