<article class="home margin">

  <%= render_component "hero", title: "PlaceCal Privacy Policy" %>

  <div class="card card--plain">
    <%= render MaxWidthComponent.new do %>
      <br> 
    
      <p>At PlaceCal.org, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by PlaceCal.org and how we use it.</p><p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at support@placecal.org.</p>

      <p>One of our main priorities is the privacy of our visitors. This Privacy Policy document contains the types of information that are collected and recorded by placecal.org and placecal-staging.org, and how we use it.</p>
      <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

      <h3>Our Contact Details</h3>
      <p>Name: Place Health Technology CIC</p>
      <p>Address: 5 Ribston Street, Manchester, England, M15 5RH</p>
      <p>Email: <a href="mailto:support@placecal.org">support@placecal.org</a></p>

      <h3>Personal Information</h3>
      <h4>The type of personal information we collect</h4>
      <p>We currently collect and process the following information from organisations who sign-up to use PlaceCal’s services, and any individuals who represent them:</p>
      <ul>
        <li>Personal identifiers, contacts and characteristics (for example, name and contact details)</li>
        <li>Email addresses for organisations which may belong to identifiable individuals</li>
        <li>Phone numbers for organisations which may belong to identifiable individuals</li>
        <li>Addresses for organisations which may belong to identifiable individuals</li>
        <li>Addresses for events which may belong to identifiable individuals</li>
      </ul>
      <p>We do not collect personal information from users who are browsing a PlaceCal site without an account.</p>

      <h4>How we get the personal information and why we have it</h4>
      <p>Most of the personal information we process is provided to us directly by you for the purpose of creating and hosting events on the PlaceCal platform.</p>
      <p>We use the information that you have given us in order to share this information with those browsing the site and viewing organisations and their calendars.</p>
      <p>Under the UK General Data Protection Regulation (UK GDPR), the lawful basis we rely on for processing this information is your consent. </p>
      <p>You are able to remove your consent at any time. You can do this by contacting support@placecal.org</p>

      <h4>How we store your personal information</h4>
      <p>Your information is securely stored on our server in London, UK.</p>
      <p>We keep personal identifiers, contacts and characteristics (as described in the "Type of information we collect" section above) for as long as this information is relevant – meaning as long as a partner, user or calendar this information is associated with is active. ‘Active’ in this sense refers to being a live account which can be logged into by the user, a partner with an associated calendar, or a linked calendar with a working source.</p>
      <p>When a user requests to delete their account we will remove all personal identifying information associated with that user account. This does not automatically remove that same individual’s information from partners and calendars. For a user’s information to be removed from a partner or calendar, or for a partner or calendar that user manages to be deleted, this needs to be specified. Once a user account is deleted their information will be removed from PlaceCal and no longer be accessible by any user or staff.</p>
      <p>Copies of this data may be created by employees of Geeks for Social Change Ltd and Place Health Technology CIC solely for development purposes. This information is destroyed when employees leave the company.</p>

      <h4>Your data protection rights</h4>
      <p>Under data protection law, you have rights including:</p>
      <p><strong>Your right of access</strong> - You have the right to ask us for copies of your personal information.</p>
      <p><strong>Your right to rectification</strong> - You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.</p>
      <p><strong>Your right to erasure</strong> - You have the right to ask us to erase your personal information in certain circumstances.</p>
      <p><strong>Your right to restriction of processing</strong> - You have the right to ask us to restrict the processing of your personal information in certain circumstances.</p>
      <p><strong>Your right to data portability</strong> - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.</p>
      <p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</p>
      <p>Please contact us at <a href="mailto:support@placecal.org">support@placecal.org</a> if you wish to make a request.</p>

      <h4>How to complain</h4>
      <p>If you have any concerns about our use of your personal information, you can make a complaint to us at support@placecal.org</p>
      <p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>
      <p>The ICO’s address:</p>
      <p>Information Commissioner’s Office</p>
      <p>Wycliffe House</p>
      <p>Water Lane</p>
      <p>Wilmslow</p>
      <p>Cheshire</p>
      <p>SK9 5AF</p>
      <p>Helpline number: <a href="tel:0303-123-1113">0303 123 1113</a></p>
      <p>ICO website: <a href="https://www.ico.org.uk" target="_blank">https://www.ico.org.uk</a></p>

      <h3>Web Tracking</h3>

      <h4>Log Files</h4>
      <p>PlaceCal.org's hosting server follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this as a part of hosting services’ analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp. These are not linked to any information that is personally identifiable.</p>

      <p>PlaceCal uses an error logging service called Rollbar. This service logs errors that may occur while you are browsing the site. These are not linked to any information that is personally identifiable. The purpose of these logs is to ensure the security and operation of the website is as expected and alert us when it is not.</p>

      <h4>Cookies, Web Beacons, Analytics Data and Third Party Privacy Policies</h4>

      <p>PlaceCal doesn’t store first party cookies.</p>

      <p>PlaceCal uses a third party service called Plausible which allows us to track site visits. You can consult Plausible’s Privacy Policy here: <a href="https://plausible.io/data-policy" target="_blank">https://plausible.io/data-policy</a>. Plausible does not use cookies to track your data, nor does it store any personal data or personally identifiable information (PII). We use the information provided by Plausible's logging to analyse usage of the site in order to improve it.</p>

      <h3>Consent</h3>
      <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>

      <br>
    <% end %>
  </div>
</article>
