<p>[cCc] WIP</p>

<article class="home margin">

  <%= render_component "hero", title: "PlaceCal Terms of Use" %>

  <div class="card card--plain">
    <%= render MaxWidthComponent.new do %>

      <h3>Title</h3>
      <p>Paragraph</p>

      <h3>Title 2</h3>
      <p>Paragraph</p>

    <% end %>
  </div>
</article>
