@import "variables_mixins";

.link_btn_lrg_light {
	background-color: $home-background;
	border-radius: 3rem;
	font-weight: bold;
	outline-offset: 2px;
	outline: $home-background solid 2px;
	padding: 0.25rem 1.5rem 0.5rem 1.5rem;
	text-decoration: none;
	transition: 0.3s;
}

.link_btn_lrg_light:hover {
	background-color: $base-text;
	color: $home-background;
	outline-color: $base-text;
}
