// Thanks to David Gilbertson
// https://gist.github.com/davidgilbertson/ad24b42b0eddde2dc6b1b51f9460af11#file-css-breakpoint-mixins-scss

$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-big-desktop: 1800px;
// sass doesn't support modern-ish (width < val, width >= val) css syntax which is designed to avoid jank around breakpoint boundaries. only min-width and max-width are valid. this is the max number of decimals before sass rounds it to 0
$breakpoint-zeroish: 0.001px;

@mixin for-phone-only {
	@media (max-width: ($breakpoint-tablet-portrait - $breakpoint-zeroish)) {
		@content;
	}
}
// was previously incorrectly named `for-phone-and-tablet-only`
@mixin for-phone-and-tablet-portrait-only {
	@media (max-width: ($breakpoint-tablet-landscape - $breakpoint-zeroish)) {
		@content;
	}
}
@mixin for-tablet-only {
	@media (min-width: $breakpoint-tablet-portrait) and (max-width: ($breakpoint-desktop - $breakpoint-zeroish)) {
		@content;
	}
}
@mixin for-tablet-portrait-only {
	@media (min-width: $breakpoint-tablet-portrait) and (max-width: ($breakpoint-tablet-landscape - $breakpoint-zeroish)) {
		@content;
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: $breakpoint-tablet-portrait) {
		@content;
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: $breakpoint-tablet-landscape) {
		@content;
	}
}
@mixin for-desktop-up {
	@media (min-width: $breakpoint-desktop) {
		@content;
	}
}
@mixin for-big-desktop-up {
	@media (min-width: $breakpoint-big-desktop) {
		@content;
	}
}
@mixin for-print {
	@media print {
		@content;
	}
}
@mixin for-retina {
	@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
		@content;
	}
}
