// Main site colour
$base-primary: #afcf5a;
$base-primary-light: #c3db83;

// Main page background
$base-background: #fffcf0;

// Main copy colour
$base-text: #5b4e46;

// Horizontal lines, for example around events
$base-rules: #f1e9da;

// Currently just used on breadcrumb
$base-rules-dark: #decbba;

// Contrast colours
$base-secondary: #f19089;

// Used for top map stripe and navigation in some states
$base-tertiary: #998675;

// Bottom of the double line on the map
$base-map-stripe-second: #c7b299;

// Print stylesheet greyscale for borders
$print-grey: #dadada;

// Other colours to use later
// $blue:  #86ced6

// Light cream
$home-background: #fffbef;

// Rich cream
$home-background-2: #f19089;
$home-background-3: #f0e9da;
$home-blue: #74d4ec;
$home-blue-soft: #97dff1;
$home-pink: $base-secondary;
$home-pink-soft: #f4a6a1;
$home-green: $base-primary;
$home-green-soft: $base-primary-light;
