// Main site colour
$base-primary: #afcf5a
// Main page background
$base-background: #fffcf0
// Main copy colour
$base-text:  #5b4e46
// Horizontal lines, for example around events
$base-rules: #f1e9da
// Currently just used on breadcrumb
$base-rules-dark: #decbba
// Contrast colours
$base-secondary:   #f19089
// Used for top map stripe and navigation in some states
$base-tertiary: #998675
// Bottom of the double line on the map
$base-map-stripe-second: #c7b299

// Print stylesheet greyscale for borders
$print-grey: #dadada

// Other colours to use later
// $blue:  #86ced6
