$sans-serif: 'Raleway', sans-serif
$serif: 'Trocchi', serif
$extra-bold: 800
$bold: 700
$semibold: 600

=h2
  font-size: 1.77778rem // 32px
  font-weight: $bold

=h4
  font-size: 1rem // 18px
  font-family: $sans-serif
  text-transform: uppercase
  font-weight: $extra-bold
  letter-spacing: 0.16667rem // 3px