<div id="js-map" class="map <%= styles %>"></div>

<script>
  // document.addEventListener("turbo:load",
  window.onload = () => {

      const args = <%= args_for_map %>;

      console.log("starting map")

      // Init the map and give it a sensible starting location
      let map = /* document.placeCalMap || */ L.map('js-map');
      document.placeCalMap = map;

      map.setView(args.center, args.zoom);
      map.scrollWheelZoom.disable();

      // Create our nice marker
      let mapIcon = L.icon({
          iconUrl: args.iconUrl,
          shadowUrl: args.shadowUrl,

          iconSize:     [46, 43], // size of the icon
          shadowSize:   [46, 43], // size of the shadow
          iconAnchor:   [17, 0], // point of the icon which will correspond to marker's location
          shadowAnchor: [17, 0],  // the same for the shadow
          popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
      });

      let markerArray = args.markers.map( m => {
          let mapMarker = L.marker(m.position, {icon: mapIcon});
          mapMarker.addTo(map);
          mapMarker.bindPopup(m.anchor, { permanent: true, closeButton: false });
          return mapMarker;
      });


      // Create a group for all markers and add to map
      let markerGroup = L.featureGroup(markerArray);
      map.fitBounds(markerGroup.getBounds(), {maxZoom: args.zoom});

      // Add the basemap
      let layer = L.tileLayer(args.tilesetUrl, {
          attribution: 'PlaceCal',
          maxZoom: 18,
      });
      layer.addTo(map);


    }; // );


</script>
