@import "variables_mixins"

.map 
  height: 330px

  .leaflet-container, .leaflet-popup-content
    font-family: $sans-serif
    a
      color: $grey
      font-size: 0.9rem

  &--single
    border: 5px solid $linen
    border-radius: 1rem
    overflow: hidden
    z-index: 0

  &--multiple
    height: 500px
    border-top-width: 10px
    border-top-color: $light-almond
    border-top-style: solid
    box-shadow: 0 -10px 0 0 $almond

  // .leaflet-marker-icon
  //   width: 28px * 1.5 !important
  //   height: 36px * 1.5 !important