<div class="featured_partnerships">
  <h1 class="featured_partnerships--title">Visit a Partnership</h1>

  hello
  
  <div class="featured_partnerships--container">
    <div class="featured_partnerships--item">
      <%= render(
	  PartnershipCardComponent.new(
	  title: '[cCc] Trans Dimension',
	  logo_url: asset_path('/assets/partnerships/trans-dimension.png'),
	  link_url: 'https://trans-dimension.co.uk',
	  summary: '[cCc] A summary of the Trans Dimension partnership in text')
	  ) %>
    </div>
    <div class="featured_partnerships--item">
      <%= render(
	  PartnershipCardComponent.new(
	  title: '[cCc] Trans Dimension',
	  logo_url: asset_path('/assets/partnerships/trans-dimension.png'),
	  link_url: 'https://trans-dimension.co.uk',
	  summary: '[cCc] A summary of the Trans Dimension partnership in text')
	  ) %>
    </div>
    <div class="featured_partnerships--item">
      <%= render(
	  PartnershipCardComponent.new(
	  title: '[cCc] Trans Dimension',
	  logo_url: asset_path('/assets/partnerships/trans-dimension.png'),
	  link_url: 'https://trans-dimension.co.uk',
	  summary: '[cCc] A summary of the Trans Dimension partnership in text')
	  ) %>
    </div>
    <div class="featured_partnerships--item">
      <%= render(
	  PartnershipCardComponent.new(
	  title: '[cCc] Trans Dimension',
	  logo_url: asset_path('/assets/partnerships/trans-dimension.png'),
	  link_url: 'https://trans-dimension.co.uk',
	  summary: '[cCc] A summary of the Trans Dimension partnership in text')
	  ) %>
    </div>
  </div>
</div>
