@import "variables_mixins";

.featured_partnerships {
	margin-bottom: 2rem;
}

.featured_partnerships--title {
	color: $home-background-3;
	font-family: $sans-serif;
	font-size: 2.22222rem;
	margin: 0;
	text-align: center;
}

.featured_partnerships--container {
	display: flex;
	gap: 1rem;
	/* flex-wrap: wrap; */
}

.featured_partnerships--item {
	min-width: 10rem;
}
