<div class="featured_partnerships">
  <h1 class="featured_partnerships--title">Visit a Partnership</h1>
	<%= render(FourColGridComponent.new()) do %>
		<% @sites.each do |site| %>
        <%= render(PartnershipCardComponent.new(site: site)) %>
		<% end %>
	<% end %>
  
</div>
