/* Public site Tailwind CSS  */

/* Disable automatic content detection and positively include each public
   section (#3163) — the admin sections have their own entrypoint
   (admin_tailwind.css) with the mirror-image include list.
*/
@import "tailwindcss" source(none);
@import "./public/fonts.css";

@source "../views/{directory,homepage,join,sites,devise}/**/*.rb";
@source "../views/layouts/application.rb";
@source "../views/base.rb";
@source "../components/{shared,sites,homepage,directory,join}/**/*.rb";
@source "../components/base.rb";
@source "../helpers/**/*.rb";
@source "../javascript/**/*.js";

/* remove tailwind theme: https://tailwindcss.com/docs/theme#using-a-custom-theme */
@theme {
	--*: initial;
}

@import "./public/_theme.css";
@import "./public/_utilities.css";
@import "./public/_components.css";

/* base overrides for things which aren't yet componentised */
@layer base {
	body {
		/* app/assets/stylesheets/base/typography.scss */
		@apply font-sans font-regular;
	}
	/* app/assets/stylesheets/variables/typography.scss */
	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply text-xl font-bold;
	}
	h4 {
		@apply text-base font-bold;
	}

	/* the site previously had no reset so these are browser defaults which were not overridden
		TODO: add not(.with-reset) to selectors so these can be overriden then properly cleaned up when deprecated instead of duplicating the tailwind reset
   */
	h1 {
		margin-block: 0.67em;
	}
	h2 {
		margin-block: 0.83em;
	}
	h3 {
		margin-block: 1em;
	}
	/* haven't come across a h4 which wasn't overriding default margins yet */
	h5 {
		font-size: 0.83em;
		font-weight: bold;
		margin-block: 1.67em;
	}
	p {
		margin-block: 1em;
	}
	/* TODO: this is a child of pullquote. move the margins there */
	blockquote {
		margin-inline: 40px;
	}
	/* the real default is #fff but i've switched to a theme colour for consistency */
	textarea {
		@apply bg-home-background;
	}
	/* TODO: should be in a flex */
	input[type="checkbox"] {
		margin-block: 3px;
		margin-inline: 4px 3px;
	}
	ul {
		margin-block: 1em;
	}
	/* TODO: this should only be enabled where it's wanted */
	a:not(.with-reset) {
		text-decoration-line: underline;
	}
	/* TODO: this should only be enabled where it's wanted */
	hr {
		margin-block: 0.5em;
	}
	/* TODO: this seems only relevant in breadcrumb */
	button {
		padding-block: 1px;
		padding-inline: 4px;
		line-height: normal;
	}
	/* FIXME: these are just bad. they cause jank in the existing layout and should be removed - will need Kim to agree */
	img,
	svg {
		display: inline;
		vertical-align: baseline;
	}
}
