/* Font-face declarations for Rawline and Trocchi fonts */
/* Using url() for compatibility with standalone sass compiler */

/* Removed eot, ttf, svg, woff variants in favour of woff2 https://caniuse.com/woff2 */

/* Rawline
	Open Font License
	Originally by https://www.theleagueofmoveabletype.com/ according to https://fontlibrary.org/en/font/rawline
*/
@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-100.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-100i.woff2") format("woff2");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-200.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-200i.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-300i.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-400i.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-500i.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-600i.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-700i.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-800i.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-900.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "rawline";
	src: url("rawline/rawline-900i.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
}

/* Trocchi
	Open Font License
	https://github.com/m4rc1e/Trocchi
*/
@font-face {
	font-family: "Trocchi";
	font-style: normal;
	font-weight: 400;
	src: url("trocchi/Trocchi-Regular.woff2") format("woff2");
}
