<section>
  <div class="hero_photo" style="background-image: <%= bg_image_path %>">
    <div class="c">
      <h1><%= title %></h1>
      <% if image_credit %>
        <div class="hero_photo__caption"><%= image_credit %></div>
      <% end %>
    </div>
  </div>
<section>
