<% content_for :title do %><%= title %><% end %>

<h1 class="page-header"><%= title %></h1>

<div class="form">
  <div class="behavior-trigger" data-behavior="<%= properties[:model] %>.form"></div>
  <%= render 'form' %>
</div>
