@import "../variables_mixins";

.breadcrumb {
	@include flexbox;
	@include flex-wrap(wrap);
	@include justify-content(flex-start);

	font-size: $small-font-size;
	margin: 0.5rem 0 0;

	@include for-tablet-portrait-up {
		margin: 1rem 0 0;
	}

	~ hr {
		margin-top: 0.25rem;
	}

	.btn {
		border-bottom-color: var(--base-primary);
		margin: 0.75rem 0 0.2rem 0;
		line-height: normal;
	}

	a {
		border-bottom-style: solid;
		border-bottom-color: $base-rules-dark;
		border-bottom-width: 2px;
		text-decoration: none;
	}

	@include for-phone-only {
		&__element:has(.breadcrumb__tagline) {
			display: none;
		}
	}

	&__element {
		@include flex(0 1 auto);

		margin-right: 0.5rem;
		display: flex;
		align-items: center;
		gap: 0.25em;

		@include for-phone-only {
			margin-bottom: 0.5rem;
		}

		svg {
			width: 1rem;
			height: 1rem;
			color: $base-primary;
		}

		&--last {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			gap: 0.5rem 1rem;
			justify-content: flex-start;
			margin-right: 0;
			width: 100%;

			@include for-desktop-up {
				width: auto;
				@include flex(1 1 auto);
				justify-content: flex-end;
				text-align: right;
			}
		}
	}

	&__filters {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		justify-content: flex-end;
	}

	&__actions {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
	}

	&__today {
		border-bottom-style: solid;
		border-bottom-color: $base-rules-dark;
		border-bottom-width: 2px;
	}
}
