@import "../variables_mixins";

.breadcrumb {
	@include flexbox;
	@include flex-wrap(wrap);
	@include justify-content(flex-start);

	font-size: $small-font-size;
	margin: 1rem 0;

	.btn {
		border-bottom-color: var(--base-primary);
		margin: 0.75rem 0 0.2rem 0;
		line-height: normal;
	}

	a {
		border-bottom-style: solid;
		border-bottom-color: $base-rules-dark;
		border-bottom-width: 2px;
		text-decoration: none;
	}

	.filters__toggle {
		a {
			border-bottom-color: transparent;
		}

		.filters__link {
			border-bottom-style: solid;
			border-bottom-color: $base-rules-dark;
			border-bottom-width: 2px;
		}
	}

	@include for-phone-only {
		&__tagline {
			display: none;
		}
	}

	&__element {
		@include flex(0 1 auto);

		margin-right: 0.5rem;

		@include for-phone-only {
			margin-bottom: 0.5rem;
		}

		&--last {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			justify-content: flex-end;

			@include flex(1 1 auto);
			@include for-tablet-portrait-up {
				text-align: right;
			}
		}
	}

	&__filters {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: flex-end;
	}

	&__actions {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
	}

	&__today {
		border-bottom-style: solid;
		border-bottom-color: $base-rules-dark;
		border-bottom-width: 2px;
	}

	&__date-picker {
		position: relative;
		display: flex;
		gap: 0.75rem;
		align-items: center;

		&-toggle {
			border-bottom-color: transparent !important;
		}

		&-label {
			border-bottom-style: solid;
			border-bottom-color: $base-rules-dark;
			border-bottom-width: 2px;
		}

		&-dropdown {
			box-shadow: 7px 7px 20px 0px rgba(153, 134, 117, 0.83);
			padding: 0.8rem;
			position: absolute;
			top: 2rem;
			right: 0;
			z-index: 500;

			&--hidden {
				display: none;
			}

			input[type="date"] {
				font-family: $sans-serif;
				font-size: $small-font-size;
				padding: 0.25rem 0.5rem;
				border: 2px solid $base-rules-dark;
				border-radius: 3px;
				background-color: transparent;
			}
		}
	}
}
