.contact_details {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 0.5rem;
	align-items: center;
	svg {
		// lower text and numbers are very different heights. there isn't really a setting which keeps icon vertical spacing consistent and also looks aligned with the text. this is a compromise
		margin-top: 4px;
	}
}
