@import "variables_mixins";

.filters {
	&__form {
		position: relative;
	}

	&__toggle {
	}

	&__dropdown {
		background-color: $base-background;
		box-shadow: 7px 7px 20px 0px rgba(153, 134, 117, 0.83);
		padding: 1rem;
		position: absolute;
		right: 0rem;
		top: 2rem;
		width: 14rem;
		z-index: 500;

		&--hidden {
			display: none;
		}
	}

	&__option {
		padding: 0.25rem 0;
		display: block;
	}

	input {
		float: right;

		&:checked + label {
			font-weight: bold;
		}
	}

	label {
		display: inline-block;
	}

	hr {
		border-width: 3px 0 0;
	}
}
