@import "variables_mixins";

.header {
	display: grid;
	grid-template:
		"branding toggle" auto
		"menu menu" auto;
	align-items: center;
	margin-inline: 2rem;
	margin-block: 0;
	padding-top: 2rem;

	.header__branding {
		grid-area: branding;
		h1,
		h2,
		p {
			width: 0;
			height: 0;
			margin: 0;
			padding: 0;
			overflow: clip;
		}
	}

	.header__menu {
		grid-area: menu;
		margin-left: auto;
		background-color: $base-tertiary;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-block: 1rem;
		margin-inline: -2rem;
		width: calc(100% + 4rem);
		justify-content: space-evenly;
		interpolate-size: allow-keywords;
		transition-behavior: allow-discrete;
		height: auto;
		transition-property: display, height, margin-top, padding-block;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
		overflow: clip;

		ul {
			display: contents;
			li {
				a {
					color: $base-background;
					text-decoration: none;
					font-size: 1rem;
					font-weight: 600;
					&::after {
						content: "";
						display: block;
						width: 2.5rem;
						margin-inline: auto;
						height: 4px;
						background-color: transparent;
						transition: background-color 0.3s ease-in-out;
					}
					&:hover::after,
					&.active::after {
						background-color: transparent;
					}
				}
				text-align: center;
				list-style-type: none;
			}
		}

		@include for-phone-and-tablet-only {
			margin-top: 1rem;
			&.is-hidden {
				margin-top: 0;
				height: 0;
				padding-block: 0;
			}
		}
	}

	.header__toggle {
		grid-area: toggle;
		display: flex;
		gap: 0.5rem;
		margin-left: auto;
		align-items: center;
		color: $base-background;
		background-color: transparent;
		svg {
			width: 33px;
			height: 33px;
			fill: var(--base-secondary);
		}
	}
}

@include for-tablet-portrait-up {
	.header {
		.header__menu {
			flex-direction: row;
			ul li a {
				&:hover::after,
				&.active::after {
					background-color: var(--base-primary);
				}
			}
		}
	}
}

@include for-tablet-landscape-up {
	.header {
		grid-template: "branding menu" auto;
		margin-bottom: 2rem;
		.header__menu {
			background-color: transparent;
			justify-content: end;
			margin-inline: 0;
			width: auto;
			ul li a {
				&:hover::after,
				&.active::after {
					background-color: $base-tertiary;
				}
			}
		}

		.header__toggle {
			display: none;
		}
	}
}
