@import "variables_mixins";

.partnership_card {
	text-align: center;
	width: 100%;
}

.partnership_card--logo {
	background-color: $home-green;
	border-radius: 1.11rem;
	height: 6rem;
	padding: 1rem;
}

.partnership_card--image {
	width: 10rem;
}

.partnership_card--link {
	align-items: center;
	background-color: $home-background-3;
	border-radius: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: bold;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.3s;
	width: 100%;
	@include for-tablet-portrait-up {
		height: 4.5rem;
		padding: 1rem;
	}
}

.partnership_card--link:hover {
	background-color: $home-pink;
	color: $home-background;
	outline-color: $base-text;
}

.partnership_card--summary {
	color: $home-background-3;
	padding: 0 2rem;
	@include for-tablet-portrait-up {
		min-height: 5rem;
	}
}
