@import "../variables_mixins";

.pullquote {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 1rem;

	blockquote {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		justify-content: space-evenly;
		margin-bottom: 0;
		margin-top: 0;

		.blockquote--dark {
			color: $home-background;
		}

		@include for-tablet-portrait-up {
			gap: 1.25rem;
			flex-direction: row;
		}

		svg {
			color: $base-primary;
			width: 2.5rem;
			height: 2.5rem;
			flex-shrink: 0;
		}

		.alt-title-small {
			margin: 0;
			max-width: 860px;
			text-wrap: balance;
		}
	}

	cite {
		color: $base-primary;
		display: contents;
		font-style: normal;
	}
}
