@import "variables_mixins"

.home__strapline
  background-color: $base-primary
  border-radius: $default-radius
  color: $base-text
  font-family: $serif
  margin: 1.5rem
  background-repeat: no-repeat

  +for-tablet-portrait-up
    background-image: image-url('home/site_title/desktop_left.svg'), image-url('home/site_title/desktop_right.svg')
    background-position: 0 50%, 100% 50%
    background-size: auto 100%
  
  &-quote
    font-size: $h3-size
    margin: 0 auto
    text-align: center
    padding: 1rem 1rem

    +for-tablet-portrait-up
      width: 50%
      line-height: 1.6em
      padding: 4rem 0

  .btn
    font-family: $sans-serif
    margin-top: 2rem

    +for-tablet-portrait-up
      margin-top: 4rem
