<div class="home__strapline">
  <%= render(MaxWidthComponent.new()) do %>
    <p class="home__strapline-quote">
      PlaceCal is an online calendar which lists events and activities by and for members of local communities, curated around interests and locality.
    </p>
  <% end %>
</div>
