<div class="home__strapline">
  <%= render(MaxWidthComponent.new()) do %>
    <p class="home__strapline-quote">
      PlaceCal is an online resource for community-led events and activities, owned, curated and operated by a real-world network of community organisers.
    </p>
  <% end %>
</div>
