<div class="strapline">
  <%= render(MaxWidthComponent.new()) do %>
    <h2 class="strapline__title">
      PlaceCal is an online calendar which lists events and activities by and for members of local communities, curated around interests and locality.
    </h2>
  <% end %>
</div>
