<div class="hero">
  <div class="c">
    <% if subtitle.present? %>
      <h4 class="allcaps"><%= subtitle %></h4>
      <div role="presentation" class="hero__divider"></div>
    <% end %>
    <h1 <%= "property=#{schema}" if schema.present? %>>
      <%= title %>
    </h1>
  </div>
</div>
