@import "variables/fonts";
@import "globals";
@import "mountain_view";

:root {
	// Main site colour
	--base-primary: #afcf5a;

	// Main page background
	--base-background: #fffcf0;

	// Main copy colour
	--base-text: #5b4e46;

	// Horizontal lines, for example around events
	--base-rules: #f1e9da;

	// Currently just used on breadcrumb
	--base-rules-dark: #decbba;

	// Contrast colours
	--base-secondary: #f19089;

	// Used for top map stripe and navigation in some states
	--base-tertiary: #998675;

	// Bottom of the double line on the map
	--base-map-stripe-second: #c7b299;

	// Print stylesheet greyscale for borders
	--print-grey: #dadada;
}

// view_component stylessheets

@import "components/case_study_component";
@import "components/container_with_header_component";
@import "components/featured_partnerships_component";
@import "components/four_col_grid_component";
@import "components/full_width_action_component";
@import "components/hero_image_component";
@import "components/hero_section_component";
@import "components/home_footer_component";
@import "components/home_strapline_component";
@import "components/link_btn_lrg_component";
@import "components/max_width_component";
@import "components/neighbourhood_home_card_component";
@import "components/partnership_card_component";
@import "components/pull_quote_component";
