<h1 class="page-header">Edit User</h1>

<div class="behavior-trigger" data-behavior="user.form"></div>
<%= simple_form_for @user, method: :put, url: assign_turf_admin_user_path(@user) do |f| %>

  <%= render 'form', f: f %>
  <%= f.submit "Update", class: "btn btn-primary " %>
  <%= link_to "Destroy Calendar", admin_user_path(@user), method: :delete, class: "btn btn-danger" %>
  </div>
<% end %>
