<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">Home</a>
  <a class="breadcrumb-item" href="#">Library</a>
  <a class="breadcrumb-item" href="#">Data</a>
  <span class="breadcrumb-item active">Bootstrap</span>
</nav>
<section>
  <h1>Partner Name</h1>
  <h3>Basic Information</h3>
</section> 
<section>
  <p>Short Description</p>
   <textarea rows="4" cols="50" class="form-control">
</section> 