<div class="breadcrumb">
  <div class="breadcrumb__title">
    Community Calendar for 
    <a href="#">Hulme &amp; Moss Side</a> <span class="icon icon--arrow-right">→</span> 
    <a href="#">Events</a>
  </div>
  <%= properties[:yield] %>
  <div class="breadcrumb__help">
    <a href="#">Help</a> <span class="icon icon--question-mark">?</span>
  </div>
</div>