<section>
  <div class="hero_image" style="background-image: <%= @bg_image_path %>">
    <div class="c c--narrow">
      <h1><%= @title %></h1>
    </div>
    <% if @image_credit %>
      <div class="hero_image__caption small"><%= @image_credit %></div>
    <% end %>
  </div>
<section>
