<% content_for :title, "Hulme" %>

<div class="c">
  <section>
    <h1>PlaceCal is a community events calendar where you can find everything near you, all in one place.</h1>
    <div>Image credit: John Smith</div>
  <section>

  <section>
    <p>PlaceCal is working to make Hulme a better connected neighbourhood.</p>
    <p>We're working with (local organisations) and (places) to create a great calendar of everything that's on in your area.</p>
    <a>See what's on</a>
  </section>
</div>

<section>
  <div class="title-strip">
    <h2 class="h2--alt">About Us</h2>
  </div>
  <div class="c">
    <p>PlaceCal Hulme is part of the Hulme and Moss Side Age Friendly Partnership, who are working to make Hulme a better place to be for over 50s.</p>
    <p>If you're a local organisation and want to join our network, get in touch with April below. We provide training and support to help you publish your events.</p>
    <div class="">
      <h3>Your local contact</h3>
      <p>April Manderson</p>
      <p>
        Call on: <br>
        Or send an email to:
      </p>
    </div>
  </div>
</section>

<section>
  <div class="title-strip">
    <h2 class="h2--alt">Advice and support</h2>
  </div>
  <div class="c">
    <div>
      <h3>Adding your events</h3>
      <p>Want to join the PlaceCal network? Something we should know about?</p>
      <a href="">Get in touch</a>
    </div>
    <div>
      <h3>Getting online</h3>
      <p>Computers access is available in the following places:</p>
      <ul>
        <li><a href="">Hulme Library</a></li>
        <li><a href="">New Hope Fellowship Church</a></li>
        <li><a href="">MMU Birley Campus</a></li>
      </ul>
    </div>
    <div>
      <h3>How to get help</h3>
      <p>Supported computer sessions are available from the following groups:</p>
      <ul>
        <li><a href="">Coffee &amp; Computers</a></li>
        <li><a href="">People First Wellbeing</a></li>
        <li><a href="">Will Griffiths Court</a></li>
      </ul>
    </div>
  </div>
</section>
