<% content_for :title, @title %>
<%= render_component "hero", title: @title, subtitle: "The Community Calendar" %>

<div class="c c--space-after">
  <%= render_component "breadcrumb", trail: [['Places', places_path]] %>
  <hr>
  <ul class="places reset two-col">
    <% @places.each do |place| %>
      <%= render_component("place_partner_preview",
        name: place.name,
        link: place,
        turf: place.address&.neighbourhood&.name,
        description: place.short_description
      ) %>
    <% end %>
  </ul>
</div>

<% if @map.length > 0 %>
  <%= render_component "map", points: @map %>
<% end %>
