<p id="notice"><%= notice %></p>

<h1>Places</h1>

<ul class="reset">
  <% @places.each do |place| %>
    <li>
      <h3><%= link_to place.name, place %></h3>
      <p><%= place.short_description %></p>
      <p><%= place.address %></p>
    </li>
  <% end %>
</ul>
