<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", defer: true %>
  </head>
  <body>
    <div style="padding: 1rem;">
      <%= yield %>
    </div>
  </body>
</html>
